extends ./head
block content
  .all-wrapper
    .header-wrapper
      a.header-logo-wrapper(href='/' title='Return to main page')
        svg.header-logo(viewBox='0 0 154 48' fill='none' xmlns='http://www.w3.org/2000/svg')
          g(clip-path='url(#clip0_65_1907)')
            path(d='M62.2639 6.15918H60.0459V20.0792H62.2639V6.15918Z' fill='#F6F6F6')
            path(d='M73.9517 13.1463C73.3939 12.7863 72.69 12.5196 71.8134 12.3463L69.4492 11.8396C68.8117 11.693 68.3203 11.5463 67.9617 11.3863C67.6031 11.2396 67.3507 11.0396 67.2047 10.7996C67.0586 10.5463 66.9921 10.213 66.9921 9.78629C66.9921 9.18629 67.2179 8.74629 67.6695 8.43962C68.1211 8.13296 68.8649 7.98629 69.9008 7.98629C70.711 7.98629 71.3618 8.09296 71.8399 8.29296C72.3181 8.49296 72.6501 8.78629 72.836 9.15962C73.022 9.54629 73.115 10.0263 73.115 10.5996V10.8263H75.333V10.573C75.333 9.74629 75.147 8.97296 74.7884 8.27962C74.4166 7.57296 73.8455 7.01296 73.0486 6.58629C72.2517 6.15962 71.229 5.94629 69.9539 5.94629C68.7719 5.94629 67.789 6.13296 67.032 6.50629C66.2617 6.87962 65.7038 7.37296 65.3319 7.97296C64.9601 8.57296 64.7874 9.22629 64.7874 9.91962C64.7874 10.613 64.9202 11.253 65.2124 11.773C65.4913 12.293 65.9163 12.7063 66.4476 13.0263C66.9921 13.3463 67.6562 13.5863 68.4531 13.7463L70.8172 14.2263C71.5345 14.3596 72.079 14.5196 72.4376 14.6796C72.8095 14.8396 73.0486 15.0663 73.1681 15.333C73.2876 15.5996 73.354 15.9596 73.354 16.3863C73.354 17.0263 73.1548 17.493 72.7431 17.7863C72.3313 18.0796 71.6141 18.2396 70.5782 18.2396C69.5953 18.2396 68.8516 18.1463 68.3203 17.9463C67.789 17.7596 67.4304 17.4663 67.2312 17.0796C67.032 16.693 66.939 16.213 66.939 15.6396V15.413H64.7476V15.7463C64.7476 16.653 64.9468 17.4396 65.3585 18.1196C65.7702 18.7996 66.3945 19.3463 67.2445 19.7196C68.0945 20.1063 69.1703 20.293 70.4852 20.293C71.6805 20.293 72.6501 20.1063 73.3939 19.7463C74.1509 19.3863 74.6955 18.9063 75.0541 18.293C75.4127 17.6796 75.5986 17.013 75.5986 16.293C75.5986 15.573 75.4658 14.973 75.2135 14.453C74.9478 13.933 74.5361 13.493 73.9915 13.1463H73.9517Z' fill='#F6F6F6')
            path(d='M87.8311 8.17251V6.15918H83.1161H80.8981H76.1831V8.17251H80.8981V20.0792H83.1161V8.17251H87.8311Z' fill='#F6F6F6')
            path(d='M91.8952 6.15918L86.5161 20.0792H88.8404L90.2615 16.4392H96.6632L98.0844 20.0792H100.502L95.096 6.15918H91.8819H91.8952ZM91.0319 14.4525L92.4663 10.7725L93.3827 8.19918H93.5421L94.4319 10.7725L95.8664 14.4525H91.0186H91.0319Z' fill='#F6F6F6')
            path(d='M111.26 14.1325V16.3592H111.087L109.613 14.1325L104.353 6.15918H101.976V20.0792H104.194V12.2258V9.95918H104.34L105.841 12.2258L111.087 20.0792H113.465V6.15918H111.26V14.1325Z' fill='#F6F6F6')
            path(d='M124.289 12.7858V12.6258C125.205 12.4925 125.883 12.1592 126.321 11.6258C126.773 11.0925 126.998 10.4392 126.998 9.62585C126.998 8.81251 126.826 8.18585 126.48 7.67918C126.135 7.15918 125.644 6.78585 124.993 6.53251C124.342 6.27918 123.572 6.15918 122.669 6.15918H116.293V20.0792H122.921C123.891 20.0792 124.714 19.9192 125.391 19.6125C126.069 19.3058 126.6 18.8658 126.959 18.2925C127.317 17.7192 127.503 17.0392 127.503 16.2525C127.503 15.3458 127.237 14.5592 126.693 13.9325C126.148 13.2925 125.352 12.9192 124.276 12.7858H124.289ZM118.511 8.17251H122.523C123.346 8.17251 123.93 8.30585 124.276 8.58585C124.608 8.86585 124.78 9.34585 124.78 10.0392C124.78 10.7325 124.594 11.2392 124.236 11.5058C123.877 11.7725 123.28 11.9192 122.456 11.9192H118.498V8.17251H118.511ZM124.687 17.6125C124.302 17.9058 123.691 18.0525 122.841 18.0525H118.511V13.8125H122.841C123.665 13.8125 124.276 13.9592 124.674 14.2658C125.059 14.5592 125.259 15.1192 125.259 15.9325C125.259 16.7458 125.073 17.3192 124.687 17.6125V17.6125Z' fill='#F6F6F6')
            path(d='M139.377 14.6392C139.377 15.4658 139.257 16.1458 139.031 16.6525C138.792 17.1592 138.407 17.5325 137.876 17.7725C137.331 18.0125 136.614 18.1325 135.698 18.1325C134.781 18.1325 134.064 18.0125 133.533 17.7725C133.002 17.5325 132.616 17.1592 132.377 16.6525C132.138 16.1325 132.019 15.4658 132.019 14.6392V6.15918H129.801V14.6392C129.801 15.8125 130.027 16.8258 130.491 17.6658C130.956 18.5058 131.634 19.1592 132.51 19.6125C133.4 20.0658 134.463 20.2925 135.698 20.2925C136.933 20.2925 138.022 20.0658 138.899 19.6125C139.775 19.1592 140.439 18.5192 140.904 17.6658C141.369 16.8258 141.608 15.8125 141.608 14.6392V6.15918H139.39V14.6392H139.377Z' fill='#F6F6F6')
            path(d='M146.602 18.0392V6.15918H144.384V20.0792H145.035H146.602H154V18.0392H146.602Z' fill='#F6F6F6')
            path(d='M63.9772 31.9605V31.8805C64.4554 31.8138 64.8007 31.6405 65.0398 31.3605C65.2788 31.0938 65.3984 30.7472 65.3984 30.3205C65.3984 29.8938 65.3054 29.5738 65.1327 29.3072C64.9601 29.0405 64.6945 28.8405 64.3624 28.7205C64.0304 28.5872 63.6186 28.5205 63.1538 28.5205H59.8467V35.7338H63.2733C63.778 35.7338 64.203 35.6538 64.5616 35.4938C64.9202 35.3338 65.1859 35.1072 65.3718 34.8138C65.5578 34.5205 65.664 34.1738 65.664 33.7605C65.664 33.2805 65.5179 32.8805 65.239 32.5472C64.9601 32.2138 64.5484 32.0138 63.9772 31.9605V31.9605ZM60.9889 29.5738H63.0741C63.4991 29.5738 63.8046 29.6405 63.9772 29.7872C64.1499 29.9338 64.2429 30.1872 64.2429 30.5472C64.2429 30.9072 64.1499 31.1605 63.964 31.3072C63.778 31.4538 63.4726 31.5205 63.0475 31.5205H61.0022V29.5872L60.9889 29.5738ZM64.1898 34.4672C63.9905 34.6138 63.6718 34.6938 63.2335 34.6938H60.9889V32.4938H63.2335C63.6585 32.4938 63.9772 32.5738 64.1765 32.7205C64.389 32.8805 64.4819 33.1605 64.4819 33.5872C64.4819 34.0138 64.389 34.3072 64.1898 34.4538V34.4672Z' fill='#F6F6F6')
            path(d='M67.9353 28.5205H66.7798V35.7338H67.9353V28.5205Z' fill='#F6F6F6')
            path(d='M73.0749 30.6269C72.6897 30.3869 72.2116 30.2803 71.6671 30.2803C71.1225 30.2803 70.6577 30.4003 70.2592 30.6269C69.8608 30.8536 69.5553 31.1869 69.3428 31.6003C69.1303 32.0136 69.0107 32.5069 69.0107 33.0536C69.0107 33.6003 69.117 34.0936 69.3428 34.5203C69.5553 34.9336 69.874 35.2669 70.2592 35.5069C70.6577 35.7336 71.1225 35.8536 71.6671 35.8536C72.2116 35.8536 72.6765 35.7336 73.0749 35.5069C73.4601 35.2803 73.7656 34.9469 73.9781 34.5203C74.1906 34.0936 74.2968 33.6136 74.2968 33.0536C74.2968 32.4936 74.1906 32.0136 73.9781 31.6003C73.7656 31.1869 73.4601 30.8536 73.0749 30.6269ZM72.8491 34.3869C72.6366 34.6669 72.2382 34.8136 71.6671 34.8136C71.096 34.8136 70.7108 34.6669 70.485 34.3869C70.2592 34.1069 70.153 33.6536 70.153 33.0536C70.153 32.4536 70.2592 32.0136 70.485 31.7203C70.7108 31.4403 71.096 31.2936 71.6671 31.2936C72.2382 31.2936 72.6233 31.4403 72.8491 31.7203C73.0616 32.0003 73.1812 32.4536 73.1812 33.0536C73.1812 33.6536 73.0749 34.1069 72.8491 34.3869Z' fill='#F6F6F6')
            path(d='M79.105 30.5466C78.7464 30.3599 78.3346 30.2666 77.8565 30.2666C77.2987 30.2666 76.8338 30.3866 76.4354 30.6133C76.0369 30.8399 75.7315 31.1733 75.519 31.5999C75.3065 32.0133 75.2002 32.5066 75.2002 33.0533C75.2002 33.5999 75.3064 34.0933 75.5057 34.5199C75.7182 34.9333 76.0104 35.2666 76.3955 35.5066C76.7807 35.7466 77.2588 35.8666 77.8034 35.8666C78.2948 35.8666 78.7198 35.7733 79.0784 35.5866C79.437 35.3999 79.7159 35.1466 79.9152 34.8266C80.1144 34.5066 80.2074 34.1333 80.2074 33.7066V33.6133H79.0651V33.6799C79.0651 34.0799 78.9589 34.3599 78.7597 34.5466C78.5472 34.7333 78.2151 34.8133 77.7635 34.8133C77.2588 34.8133 76.9002 34.6666 76.6745 34.3866C76.4619 34.1066 76.3424 33.6666 76.3424 33.0799C76.3424 32.4933 76.4487 32.0666 76.6745 31.7733C76.887 31.4799 77.2588 31.3333 77.7635 31.3333C78.2284 31.3333 78.5604 31.4266 78.7597 31.6133C78.9722 31.7999 79.0651 32.0799 79.0651 32.4799V32.5466H80.2074V32.4533C80.2074 32.0266 80.1011 31.6533 79.9152 31.3333C79.7159 31.0133 79.437 30.7599 79.0784 30.5733L79.105 30.5466Z' fill='#F6F6F6')
            path(d='M84.962 30.3872L83.5276 32.5072H82.4651V28.5205H81.3096V35.7338H82.4651V33.5472H83.5276L84.9222 35.7338H86.2902L84.4573 32.9205L86.3167 30.3872H84.962Z' fill='#F6F6F6')
            path(d='M90.4473 30.5466C90.0887 30.3599 89.6769 30.2666 89.1988 30.2666C88.641 30.2666 88.1761 30.3866 87.7777 30.6133C87.3792 30.8399 87.0737 31.1733 86.8612 31.5999C86.6487 32.0133 86.5425 32.5066 86.5425 33.0533C86.5425 33.5999 86.6487 34.0933 86.848 34.5199C87.0605 34.9333 87.3526 35.2666 87.7378 35.5066C88.123 35.7466 88.6011 35.8666 89.1457 35.8666C89.6371 35.8666 90.0621 35.7733 90.4207 35.5866C90.7793 35.3999 91.0582 35.1466 91.2574 34.8266C91.4567 34.5066 91.5496 34.1333 91.5496 33.7066V33.6133H90.4074V33.6799C90.4074 34.0799 90.3012 34.3599 90.1019 34.5466C89.8894 34.7333 89.5574 34.8133 89.1058 34.8133C88.6011 34.8133 88.2425 34.6666 88.0167 34.3866C87.8042 34.1066 87.6847 33.6666 87.6847 33.0799C87.6847 32.4933 87.7909 32.0666 88.0167 31.7733C88.2425 31.4799 88.6011 31.3333 89.1058 31.3333C89.5707 31.3333 89.9027 31.4266 90.1019 31.6133C90.3144 31.7999 90.4074 32.0799 90.4074 32.4799V32.5466H91.5496V32.4533C91.5496 32.0266 91.4434 31.6533 91.2574 31.3333C91.0582 31.0133 90.7793 30.7599 90.4207 30.5733L90.4473 30.5466Z' fill='#F6F6F6')
            path(d='M96.7695 30.5468C96.4773 30.3602 96.1055 30.2668 95.6406 30.2668C95.3219 30.2668 95.0429 30.3202 94.8039 30.4135C94.5648 30.5068 94.3656 30.6402 94.2195 30.7868C94.0601 30.9468 93.9538 31.1068 93.8609 31.2668H93.821V28.5068H92.6655V35.7202H93.821V32.6402C93.821 32.1335 93.9406 31.7735 94.1531 31.5735C94.3789 31.3735 94.7242 31.2668 95.189 31.2668C95.6539 31.2668 96.0125 31.3735 96.1984 31.5735C96.3844 31.7868 96.4773 32.1335 96.4773 32.6135V35.7202H97.6329V32.3468C97.6329 31.9468 97.5664 31.6002 97.4203 31.2802C97.2875 30.9602 97.0617 30.7202 96.7828 30.5335L96.7695 30.5468Z' fill='#F6F6F6')
            path(d='M102.467 30.5603C102.135 30.3736 101.724 30.2803 101.232 30.2803C100.741 30.2803 100.342 30.3736 99.9971 30.5469C99.6385 30.7203 99.3729 30.9603 99.1736 31.2803C98.9744 31.5869 98.8814 31.9469 98.8814 32.3469V32.4536H99.9971V32.2936C99.9971 31.9336 100.09 31.6803 100.263 31.5336C100.449 31.3869 100.754 31.3069 101.166 31.3069C101.578 31.3069 101.896 31.3736 102.082 31.5203C102.268 31.6669 102.375 31.9336 102.375 32.3336V32.6269L100.502 32.8936C100.13 32.9469 99.8112 33.0403 99.5455 33.1736C99.2799 33.3069 99.0807 33.4669 98.9346 33.6669C98.8018 33.8669 98.7354 34.1203 98.7354 34.4136C98.7354 34.8803 98.8947 35.2403 99.2135 35.4803C99.5322 35.7203 99.9307 35.8536 100.422 35.8536C100.754 35.8536 101.046 35.8136 101.285 35.7203C101.538 35.6269 101.75 35.5203 101.936 35.3736C102.109 35.2269 102.255 35.0803 102.348 34.9069H102.388V35.7469H103.464V32.4936C103.464 32.0536 103.384 31.6669 103.211 31.3336C103.052 31.0003 102.8 30.7469 102.454 30.5603H102.467ZM102.135 34.3869C101.976 34.5869 101.777 34.7336 101.538 34.8136C101.299 34.8936 101.046 34.9336 100.781 34.9336C100.449 34.9336 100.196 34.8803 100.064 34.7869C99.9174 34.6936 99.8377 34.5336 99.8377 34.3336C99.8377 34.1336 99.9041 33.9869 100.024 33.9069C100.143 33.8269 100.356 33.7469 100.661 33.7069L102.361 33.4803V33.5603C102.361 33.9203 102.282 34.2003 102.122 34.4003L102.135 34.3869Z' fill='#F6F6F6')
            path(d='M105.867 29.7072V28.5205H104.712L104.725 29.7072H105.867Z' fill='#F6F6F6')
            path(d='M105.881 30.3604H104.725V35.747H105.881V30.3604Z' fill='#F6F6F6')
            path(d='M111.26 30.5469C110.968 30.3603 110.582 30.2803 110.118 30.2803C109.786 30.2803 109.493 30.3336 109.241 30.4403C108.989 30.5469 108.789 30.6803 108.63 30.8536C108.471 31.0136 108.364 31.2003 108.271 31.4003H108.218V30.4003H107.156V35.7603H108.311V32.6669C108.311 32.3336 108.364 32.0669 108.457 31.8669C108.564 31.6669 108.71 31.5203 108.922 31.4403C109.121 31.3603 109.387 31.3069 109.693 31.3069C110.184 31.3069 110.529 31.4136 110.702 31.6136C110.888 31.8269 110.968 32.1736 110.968 32.6536V35.7603H112.11V32.4003C112.11 31.9869 112.043 31.6269 111.897 31.3069C111.751 30.9869 111.539 30.7469 111.246 30.5603L111.26 30.5469Z' fill='#F6F6F6')
            path(d='M120.437 32.1468C120.145 31.9601 119.786 31.8268 119.335 31.7334L118.113 31.4801C117.781 31.4001 117.528 31.3201 117.342 31.2534C117.156 31.1734 117.024 31.0801 116.957 30.9468C116.878 30.8134 116.838 30.6401 116.838 30.4268C116.838 30.1201 116.957 29.8801 117.183 29.7201C117.422 29.5601 117.807 29.4801 118.339 29.4801C118.764 29.4801 119.096 29.5334 119.348 29.6401C119.587 29.7468 119.76 29.8934 119.866 30.0934C119.959 30.2934 120.012 30.5334 120.012 30.8401V30.9601H121.168V30.8268C121.168 30.4001 121.075 30.0001 120.889 29.6401C120.703 29.2801 120.397 28.9868 119.985 28.7601C119.574 28.5334 119.042 28.4268 118.378 28.4268C117.767 28.4268 117.263 28.5201 116.864 28.7201C116.466 28.9201 116.174 29.1734 115.988 29.4801C115.802 29.7868 115.709 30.1334 115.709 30.4934C115.709 30.8534 115.775 31.1868 115.921 31.4534C116.067 31.7201 116.28 31.9334 116.559 32.1068C116.838 32.2801 117.183 32.4001 117.595 32.4801L118.817 32.7201C119.189 32.7868 119.467 32.8668 119.653 32.9601C119.839 33.0401 119.972 33.1601 120.039 33.2934C120.105 33.4401 120.132 33.6134 120.132 33.8401C120.132 34.1734 120.025 34.4134 119.813 34.5734C119.6 34.7334 119.228 34.8001 118.697 34.8001C118.192 34.8001 117.807 34.7468 117.528 34.6534C117.263 34.5468 117.064 34.4001 116.971 34.2001C116.864 34.0001 116.811 33.7468 116.811 33.4534V33.3334H115.669V33.5068C115.669 33.9734 115.775 34.3868 115.988 34.7334C116.2 35.0934 116.519 35.3601 116.971 35.5601C117.409 35.7601 117.967 35.8534 118.644 35.8534C119.255 35.8534 119.76 35.7601 120.158 35.5734C120.543 35.3868 120.835 35.1334 121.021 34.8134C121.207 34.4934 121.3 34.1468 121.3 33.7734C121.3 33.4001 121.234 33.0934 121.088 32.8134C120.955 32.5468 120.743 32.3201 120.45 32.1334L120.437 32.1468Z' fill='#F6F6F6')
            path(d='M126.202 33.4004C126.202 33.747 126.149 34.027 126.042 34.2404C125.936 34.4537 125.777 34.6137 125.564 34.707C125.352 34.8004 125.099 34.8537 124.807 34.8537C124.342 34.8537 124.01 34.747 123.811 34.5337C123.612 34.3204 123.505 33.9737 123.505 33.4804V30.387H122.363V33.6937C122.363 34.0937 122.43 34.467 122.576 34.787C122.709 35.1204 122.934 35.3737 123.24 35.5604C123.545 35.747 123.917 35.8404 124.382 35.8404C124.727 35.8404 125.033 35.787 125.272 35.667C125.511 35.5604 125.724 35.4137 125.883 35.227C126.042 35.0537 126.162 34.8537 126.242 34.6537H126.281V35.7204H127.357V30.3604H126.215V33.3737L126.202 33.4004Z' fill='#F6F6F6')
            path(d='M136.402 30.5469C136.11 30.3603 135.738 30.2803 135.286 30.2803C134.941 30.2803 134.635 30.3336 134.396 30.4403C134.157 30.5469 133.958 30.6936 133.799 30.8669C133.639 31.0403 133.533 31.2136 133.44 31.4003H133.387C133.387 31.4003 133.387 31.3336 133.374 31.3069C133.241 30.9869 133.028 30.7469 132.749 30.5603C132.471 30.3736 132.099 30.2936 131.647 30.2936C131.315 30.2936 131.023 30.3469 130.784 30.4536C130.545 30.5603 130.345 30.6936 130.186 30.8669C130.027 31.0269 129.92 31.2136 129.841 31.4136H129.788V30.4136H128.725V35.7736H129.881V32.6536C129.881 32.1603 129.987 31.8269 130.199 31.6269C130.412 31.4269 130.731 31.3336 131.169 31.3336C131.647 31.3336 131.979 31.4403 132.165 31.6403C132.351 31.8536 132.431 32.2003 132.431 32.6803V35.7869H133.573V32.6669C133.573 32.1736 133.679 31.8403 133.892 31.6269C134.104 31.4269 134.423 31.3203 134.861 31.3203C135.353 31.3203 135.685 31.4269 135.857 31.6269C136.03 31.8403 136.123 32.1869 136.123 32.6669V35.7736H137.278V32.4136C137.278 32.0003 137.212 31.6403 137.066 31.3203C136.92 31.0003 136.707 30.7603 136.415 30.5736L136.402 30.5469Z' fill='#F6F6F6')
            path(d='M146.283 30.5469C145.991 30.3603 145.619 30.2803 145.168 30.2803C144.822 30.2803 144.517 30.3336 144.278 30.4403C144.039 30.5469 143.839 30.6936 143.68 30.8669C143.521 31.0403 143.414 31.2136 143.321 31.4003H143.268C143.268 31.4003 143.268 31.3336 143.255 31.3069C143.122 30.9869 142.91 30.7469 142.631 30.5603C142.352 30.3736 141.98 30.2936 141.528 30.2936C141.196 30.2936 140.904 30.3469 140.665 30.4536C140.426 30.5603 140.227 30.6936 140.067 30.8669C139.908 31.0269 139.802 31.2136 139.722 31.4136H139.669V30.4136H138.606V35.7736H139.762V32.6536C139.762 32.1603 139.868 31.8269 140.081 31.6269C140.293 31.4269 140.612 31.3336 141.05 31.3336C141.528 31.3336 141.86 31.4403 142.046 31.6403C142.232 31.8536 142.312 32.2003 142.312 32.6803V35.7869H143.454V32.6669C143.454 32.1736 143.56 31.8403 143.773 31.6269C143.985 31.4269 144.304 31.3203 144.743 31.3203C145.234 31.3203 145.566 31.4269 145.739 31.6269C145.911 31.8403 146.004 32.1869 146.004 32.6669V35.7736H147.16V32.4136C147.16 32.0003 147.093 31.6403 146.947 31.3203C146.801 31.0003 146.589 30.7603 146.296 30.5736L146.283 30.5469Z' fill='#F6F6F6')
            path(d='M149.551 30.3604H148.395V35.747H149.551V30.3604Z' fill='#F6F6F6')
            path(d='M149.551 29.7072V28.5205H148.382L148.395 29.7072H149.551Z' fill='#F6F6F6')
            path(d='M154 31.3597V30.3864H152.38V29.0664H151.503L151.264 30.3864H150.361V31.3597H151.237V34.0931C151.237 34.6931 151.397 35.1197 151.702 35.3731C152.008 35.6264 152.459 35.7464 153.044 35.7464C153.23 35.7464 153.416 35.7464 153.588 35.7197C153.761 35.6931 153.894 35.6797 154 35.6531V34.6931H153.362C152.991 34.6931 152.738 34.6531 152.605 34.5731C152.459 34.4931 152.393 34.3197 152.393 34.0397V31.3597H154.013H154Z' fill='#F6F6F6')
            path(d='M5.4855 37.626C4.70189 40.586 7.39805 43.306 10.3466 42.506L19.6437 39.9993L7.96916 28.2793L5.4855 37.6126V37.626Z' fill='url(#paint0_linear_65_1907)')
            path(d='M21.3701 1.17255C19.2052 -1.00079 15.5129 -0.000787735 14.7293 2.95921L12.2456 12.2792L28.1702 7.99921L21.3701 1.17255Z' fill='url(#paint1_linear_65_1907)')
            path(d='M46.6451 26.5464L39.8449 19.7197L35.5815 35.7197L44.8787 33.2264C47.8272 32.4264 48.8233 28.7331 46.6584 26.5597L46.6451 26.5464Z' fill='url(#paint2_linear_65_1907)')
            path(d='M39.8447 19.7192L42.3417 10.3859C43.1386 7.42586 40.4291 4.70586 37.4806 5.50586L28.1968 7.9992L39.858 19.7059L39.8447 19.7192Z' fill='url(#paint3_linear_65_1907)')
            path(d='M26.4438 46.8261C28.6087 48.9994 32.2877 47.9994 33.0846 45.0394L35.5683 35.7061L19.6304 39.9861L26.4305 46.8127L26.4438 46.8261Z' fill='url(#paint4_linear_65_1907)')
            path(d='M7.96884 28.2796L12.2322 12.293L2.93512 14.7863C-0.000112433 15.573 -0.996231 19.2796 1.16867 21.453L7.98212 28.293L7.96884 28.2796Z' fill='url(#paint5_linear_65_1907)')
            g(style='mix-blend-mode:overlay')
              path(d='M39.845 19.7197L35.5817 35.7064L19.6438 39.9864L7.96924 28.2797L19.6438 39.9997L35.5817 35.7197L39.845 19.7197Z' fill='#D0FAFF')
            g(style='mix-blend-mode:overlay')
              path(d='M28.1705 7.98633H28.1572L28.1705 7.99966V7.98633Z' fill='white')
            g(style='mix-blend-mode:overlay')
              path(d='M28.1703 7.99966L28.157 7.98633L12.2457 12.2797H12.2324L28.1703 7.99966Z' fill='white')
            path(d='M28.1705 8L12.2326 12.28L7.96924 28.28L23.9071 23.9867L28.1705 8Z' fill='url(#paint6_linear_65_1907)')
            path(d='M7.96924 28.2797L19.6438 39.9863L35.5817 35.7063L23.9071 23.9863L7.96924 28.2797Z' fill='url(#paint7_linear_65_1907)')
            g(style='mix-blend-mode:overlay')
              path(d='M28.1704 7.99966H28.1837L28.1704 7.98633V7.99966Z' fill='#D0FAFF')
            g(style='mix-blend-mode:overlay')
              path(d='M39.8449 19.72V19.7067L28.1837 8H28.1704L39.8449 19.72Z' fill='#D0FAFF')
            path(d='M28.1701 8L23.9067 23.9867L35.5813 35.7067L39.8446 19.72L28.1701 8Z' fill='url(#paint8_linear_65_1907)')
            g(style='mix-blend-mode:overlay')
              path(d='M23.9201 24L23.9068 23.9867L23.8936 24L27.971 8.05333L28.1702 8L28.303 8.13333L23.9201 24Z' fill='white')
            g(style='mix-blend-mode:overlay')
              path(d='M23.9071 23.9997H23.8939V23.9863L8.02236 28.0797L7.96924 28.2797L8.10205 28.413L23.9071 23.9997Z' fill='white')
          defs
            linearGradient(id='paint0_linear_65_1907' x1='-14.2244' y1='33.466' x2='49.0396' y2='38.9832' gradientUnits='userSpaceOnUse')
              stop(stop-color='#43FFFA')
              stop(offset='0.02' stop-color='#42FBF9')
              stop(offset='0.35' stop-color='#3E48F9')
              stop(offset='0.5' stop-color='#3D00F9')
              stop(offset='0.55' stop-color='#4506F7')
              stop(offset='0.64' stop-color='#5E18F3')
              stop(offset='0.74' stop-color='#8636ED')
              stop(offset='0.87' stop-color='#BD5FE4')
              stop(offset='1' stop-color='#FF90DA')
            linearGradient(id='paint1_linear_65_1907' x1='16.9871' y1='-1.96079' x2='34.981' y2='65.2577' gradientUnits='userSpaceOnUse')
              stop(stop-color='#43FFFA')
              stop(offset='0.02' stop-color='#42FBF9')
              stop(offset='0.35' stop-color='#3E48F9')
              stop(offset='0.5' stop-color='#3D00F9')
              stop(offset='0.55' stop-color='#4506F7')
              stop(offset='0.64' stop-color='#5E18F3')
              stop(offset='0.74' stop-color='#8636ED')
              stop(offset='0.87' stop-color='#BD5FE4')
              stop(offset='1' stop-color='#FF90DA')
            linearGradient(id='paint2_linear_65_1907' x1='30.5213' y1='3.93306' x2='43.2104' y2='35.7258' gradientUnits='userSpaceOnUse')
              stop(stop-color='#43FFFA')
              stop(offset='0.02' stop-color='#42FBF9')
              stop(offset='0.43' stop-color='#3E48F9')
              stop(offset='0.6' stop-color='#3D00F9')
              stop(offset='0.65' stop-color='#4506F7')
              stop(offset='0.71' stop-color='#5E18F3')
              stop(offset='0.8' stop-color='#8636ED')
              stop(offset='0.9' stop-color='#BD5FE4')
              stop(offset='1' stop-color='#FF90DA')
            linearGradient(id='paint3_linear_65_1907' x1='25.9522' y1='-20.8408' x2='45.3332' y2='39.0085' gradientUnits='userSpaceOnUse')
              stop(stop-color='#43FFFA')
              stop(offset='0.02' stop-color='#42FBF9')
              stop(offset='0.43' stop-color='#3E48F9')
              stop(offset='0.6' stop-color='#3D00F9')
              stop(offset='0.65' stop-color='#4506F7')
              stop(offset='0.71' stop-color='#5E18F3')
              stop(offset='0.8' stop-color='#8636ED')
              stop(offset='0.9' stop-color='#BD5FE4')
              stop(offset='1' stop-color='#FF90DA')
            linearGradient(id='paint4_linear_65_1907' x1='-3.70538' y1='20.4527' x2='40.959' y2='47.1129' gradientUnits='userSpaceOnUse')
              stop(stop-color='#43FFFA')
              stop(offset='0.02' stop-color='#42FBF9')
              stop(offset='0.43' stop-color='#3E48F9')
              stop(offset='0.6' stop-color='#3D00F9')
              stop(offset='0.65' stop-color='#4506F7')
              stop(offset='0.71' stop-color='#5E18F3')
              stop(offset='0.8' stop-color='#8636ED')
              stop(offset='0.9' stop-color='#BD5FE4')
              stop(offset='1' stop-color='#FF90DA')
            linearGradient(id='paint5_linear_65_1907' x1='-10.1871' y1='14.573' x2='103.315' y2='46.3033' gradientUnits='userSpaceOnUse')
              stop(stop-color='#43FFFA')
              stop(offset='0.02' stop-color='#42FBF9')
              stop(offset='0.35' stop-color='#3E48F9')
              stop(offset='0.5' stop-color='#3D00F9')
              stop(offset='0.55' stop-color='#4506F7')
              stop(offset='0.64' stop-color='#5E18F3')
              stop(offset='0.74' stop-color='#8636ED')
              stop(offset='0.87' stop-color='#BD5FE4')
              stop(offset='1' stop-color='#FF90DA')
            linearGradient(id='paint6_linear_65_1907' x1='11.8342' y1='12.7067' x2='49.6131' y2='45.3479' gradientUnits='userSpaceOnUse')
              stop(stop-color='#43FFFA')
              stop(offset='0.02' stop-color='#42FBF9')
              stop(offset='0.35' stop-color='#3E48F9')
              stop(offset='0.5' stop-color='#3D00F9')
              stop(offset='0.55' stop-color='#4506F7')
              stop(offset='0.64' stop-color='#5E18F3')
              stop(offset='0.74' stop-color='#8636ED')
              stop(offset='0.87' stop-color='#BD5FE4')
              stop(offset='1' stop-color='#FF90DA')
            linearGradient(id='paint7_linear_65_1907' x1='-5.84361' y1='31.613' x2='66.2755' y2='32.5788' gradientUnits='userSpaceOnUse')
              stop(stop-color='#43FFFA')
              stop(offset='0.02' stop-color='#42FBF9')
              stop(offset='0.35' stop-color='#3E48F9')
              stop(offset='0.5' stop-color='#3D00F9')
              stop(offset='0.55' stop-color='#4506F7')
              stop(offset='0.64' stop-color='#5E18F3')
              stop(offset='0.74' stop-color='#8636ED')
              stop(offset='0.87' stop-color='#BD5FE4')
              stop(offset='1' stop-color='#FF90DA')
            linearGradient(id='paint8_linear_65_1907' x1='19.5902' y1='-6.05333' x2='38.6801' y2='36.9718' gradientUnits='userSpaceOnUse')
              stop(stop-color='#43FFFA')
              stop(offset='0.02' stop-color='#42FBF9')
              stop(offset='0.35' stop-color='#3E48F9')
              stop(offset='0.5' stop-color='#3D00F9')
              stop(offset='0.55' stop-color='#4506F7')
              stop(offset='0.64' stop-color='#5E18F3')
              stop(offset='0.74' stop-color='#8636ED')
              stop(offset='0.87' stop-color='#BD5FE4')
              stop(offset='1' stop-color='#FF90DA')
            clipPath(id='clip0_65_1907')
              rect(width='154' height='48' fill='white')
      //- .header-buttons-wrapper
      //-   a.each-header-button.general-text-two(href='/schedule') Schedule
      //-   a.each-header-button.general-text-two(href='/schedule') Speakers
        a.each-header-button.general-text-two(href='/schedule') Contributors
      .header-social-platform-icons-wrapper
        a.header-each-social-platform-icon(href='/' target='_blank')
          svg(width='20' height='24' viewBox='0 0 20 24' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M7.94113 10.0436C7.68686 10.0221 7.43201 10.0778 7.20994 10.2035C6.98787 10.3293 6.80893 10.5191 6.69654 10.7482C6.58416 10.9773 6.54356 11.235 6.58007 11.4876C6.61658 11.7401 6.72849 11.9758 6.90115 12.1637C7.07382 12.3516 7.29919 12.483 7.54777 12.5407C7.79635 12.5983 8.05656 12.5796 8.29432 12.487C8.53209 12.3943 8.73635 12.232 8.88035 12.0214C9.02435 11.8107 9.10139 11.5614 9.10138 11.3063C9.10819 11.1471 9.08357 10.9883 9.02893 10.8387C8.97429 10.6891 8.89071 10.5517 8.78295 10.4345C8.6752 10.3172 8.54539 10.2223 8.40094 10.1553C8.2565 10.0882 8.10025 10.0503 7.94113 10.0436ZM12.093 10.0436C11.8387 10.0221 11.5839 10.0778 11.3618 10.2035C11.1397 10.3293 10.9608 10.5191 10.8484 10.7482C10.736 10.9773 10.6954 11.235 10.7319 11.4876C10.7685 11.7401 10.8804 11.9758 11.053 12.1637C11.2257 12.3516 11.4511 12.483 11.6996 12.5407C11.9482 12.5983 12.2084 12.5796 12.4462 12.487C12.684 12.3943 12.8882 12.232 13.0322 12.0214C13.1762 11.8107 13.2533 11.5614 13.2533 11.3063C13.2601 11.1471 13.2354 10.9883 13.1808 10.8387C13.1262 10.6891 13.0426 10.5517 12.9348 10.4345C12.8271 10.3172 12.6973 10.2223 12.5528 10.1553C12.4084 10.0882 12.2521 10.0503 12.093 10.0436Z' fill='#F4F4F4')
            path(d='M17.6213 0.5H2.37876C2.07178 0.500735 1.76796 0.561928 1.48463 0.680088C1.2013 0.798247 0.944026 0.971057 0.727489 1.18865C0.510952 1.40624 0.339396 1.66436 0.222617 1.94826C0.105838 2.23215 0.0461228 2.53627 0.0468822 2.84325V18.2222C0.0461228 18.5292 0.105838 18.8333 0.222617 19.1172C0.339396 19.4011 0.510952 19.6593 0.727489 19.8769C0.944026 20.0944 1.2013 20.2673 1.48463 20.3854C1.76796 20.5036 2.07178 20.5648 2.37876 20.5655H15.278L14.6751 18.4611L16.1311 19.8147L17.5075 21.0888L19.9531 23.25V2.84325C19.9539 2.53627 19.8942 2.23215 19.7774 1.94826C19.6606 1.66436 19.4891 1.40624 19.2725 1.18865C19.056 0.971057 18.7987 0.798247 18.5154 0.680088C18.2321 0.561928 17.9282 0.500735 17.6213 0.5ZM13.2305 15.3558C13.2305 15.3558 12.821 14.8666 12.4798 14.4344C13.3043 14.2402 14.0336 13.7608 14.5386 13.0808C14.1293 13.3531 13.6905 13.5783 13.2305 13.7519C12.7013 13.9778 12.1479 14.1419 11.5811 14.241C10.6069 14.4204 9.60781 14.4165 8.63501 14.2296C8.06389 14.1179 7.50419 13.9542 6.96288 13.7405C6.67755 13.6308 6.4001 13.5016 6.13251 13.3538C6.09838 13.331 6.06426 13.3196 6.03013 13.2969C6.01302 13.2884 5.9976 13.2768 5.98463 13.2628C5.77988 13.149 5.66613 13.0694 5.66613 13.0694C6.15293 13.7351 6.85704 14.2099 7.65676 14.4116C7.31551 14.8439 6.89463 15.3558 6.89463 15.3558C6.21894 15.3739 5.54913 15.2257 4.94415 14.9243C4.33918 14.6228 3.81758 14.1772 3.42526 13.6268C3.46219 11.3207 4.02227 9.05316 5.06326 6.99513C5.97934 6.27564 7.09621 5.85831 8.25963 5.80075L8.37338 5.93725C7.27881 6.20813 6.25737 6.7169 5.38176 7.42737C5.38176 7.42737 5.63201 7.29088 6.05288 7.0975C6.87053 6.72427 7.74196 6.48242 8.63501 6.38087C8.69868 6.3677 8.76339 6.36008 8.82838 6.35812C9.59064 6.25881 10.3621 6.25118 11.1261 6.33537C12.3277 6.47261 13.4909 6.84357 14.55 7.42737C13.7188 6.75076 12.7534 6.25836 11.7176 5.98275L11.8769 5.80075C13.0403 5.85831 14.1572 6.27564 15.0733 6.99513C16.1142 9.05316 16.6743 11.3207 16.7113 13.6268C16.3158 14.1767 15.792 14.6216 15.1853 14.923C14.5787 15.2243 13.9076 15.3729 13.2305 15.3558Z' fill='#F4F4F4')
        a.header-each-social-platform-icon(href='/' target='_blank')
          svg(width='26' height='25' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M12.9998 0.750073C10.0916 0.750465 7.27834 1.78553 5.06333 3.67012C2.84832 5.5547 1.37605 8.16587 0.909885 11.0365C0.44372 13.9072 1.01407 16.85 2.51891 19.3387C4.02375 21.8273 6.36491 23.6994 9.12359 24.6201C9.73609 24.7338 9.99859 24.3576 9.99859 24.0338C9.99859 23.7101 9.99859 22.9751 9.99859 21.9513C6.59484 22.6863 5.87734 20.3063 5.87734 20.3063C5.63799 19.5563 5.13422 18.9188 4.45984 18.5126C3.34859 17.7601 4.54734 17.7688 4.54734 17.7688C4.9355 17.8237 5.30599 17.9665 5.63052 18.1864C5.95504 18.4063 6.22503 18.6974 6.41984 19.0376C6.75877 19.6455 7.32524 20.0939 7.9947 20.2842C8.66416 20.4745 9.3818 20.3912 9.98984 20.0526C10.0392 19.4317 10.313 18.8501 10.7598 18.4163C8.04734 18.1013 5.18609 17.0513 5.18609 12.3613C5.16626 11.1432 5.61767 9.96455 6.44609 9.07132C6.07112 8.01624 6.11496 6.85755 6.56859 5.83382C6.56859 5.83382 7.59234 5.50132 9.93734 7.08507C11.9424 6.53815 14.0573 6.53815 16.0623 7.08507C18.3986 5.50132 19.4223 5.83382 19.4223 5.83382C19.876 6.85755 19.9198 8.01624 19.5448 9.07132C20.3733 9.96455 20.8247 11.1432 20.8048 12.3613C20.8048 17.0688 17.9436 18.1013 15.2136 18.4076C15.506 18.704 15.7315 19.0596 15.8749 19.4506C16.0183 19.8415 16.0763 20.2586 16.0448 20.6738C16.0448 22.3101 16.0448 23.6313 16.0448 24.0338C16.0448 24.4363 16.2636 24.7426 16.9198 24.6201C19.6822 23.6983 22.0257 21.8226 23.5303 19.3293C25.0349 16.8361 25.6021 13.8884 25.1302 11.0149C24.6583 8.1413 23.1782 5.52983 20.9552 3.64875C18.7323 1.76766 15.9119 0.740013 12.9998 0.750073V0.750073Z' fill='#F4F4F4')
    block main
    .footer-wrapper
      .footer-top-wrapper
        .footer-top-left-wrapper
          a.footer-logo-wrapper(href='/' title='Return to main page')
            svg(viewBox='0 0 154 48' fill='none' xmlns='http://www.w3.org/2000/svg')
              g(clip-path='url(#clip0_65_1907)')
                path(d='M62.2639 6.15918H60.0459V20.0792H62.2639V6.15918Z' fill='#F6F6F6')
                path(d='M73.9517 13.1463C73.3939 12.7863 72.69 12.5196 71.8134 12.3463L69.4492 11.8396C68.8117 11.693 68.3203 11.5463 67.9617 11.3863C67.6031 11.2396 67.3507 11.0396 67.2047 10.7996C67.0586 10.5463 66.9921 10.213 66.9921 9.78629C66.9921 9.18629 67.2179 8.74629 67.6695 8.43962C68.1211 8.13296 68.8649 7.98629 69.9008 7.98629C70.711 7.98629 71.3618 8.09296 71.8399 8.29296C72.3181 8.49296 72.6501 8.78629 72.836 9.15962C73.022 9.54629 73.115 10.0263 73.115 10.5996V10.8263H75.333V10.573C75.333 9.74629 75.147 8.97296 74.7884 8.27962C74.4166 7.57296 73.8455 7.01296 73.0486 6.58629C72.2517 6.15962 71.229 5.94629 69.9539 5.94629C68.7719 5.94629 67.789 6.13296 67.032 6.50629C66.2617 6.87962 65.7038 7.37296 65.3319 7.97296C64.9601 8.57296 64.7874 9.22629 64.7874 9.91962C64.7874 10.613 64.9202 11.253 65.2124 11.773C65.4913 12.293 65.9163 12.7063 66.4476 13.0263C66.9921 13.3463 67.6562 13.5863 68.4531 13.7463L70.8172 14.2263C71.5345 14.3596 72.079 14.5196 72.4376 14.6796C72.8095 14.8396 73.0486 15.0663 73.1681 15.333C73.2876 15.5996 73.354 15.9596 73.354 16.3863C73.354 17.0263 73.1548 17.493 72.7431 17.7863C72.3313 18.0796 71.6141 18.2396 70.5782 18.2396C69.5953 18.2396 68.8516 18.1463 68.3203 17.9463C67.789 17.7596 67.4304 17.4663 67.2312 17.0796C67.032 16.693 66.939 16.213 66.939 15.6396V15.413H64.7476V15.7463C64.7476 16.653 64.9468 17.4396 65.3585 18.1196C65.7702 18.7996 66.3945 19.3463 67.2445 19.7196C68.0945 20.1063 69.1703 20.293 70.4852 20.293C71.6805 20.293 72.6501 20.1063 73.3939 19.7463C74.1509 19.3863 74.6955 18.9063 75.0541 18.293C75.4127 17.6796 75.5986 17.013 75.5986 16.293C75.5986 15.573 75.4658 14.973 75.2135 14.453C74.9478 13.933 74.5361 13.493 73.9915 13.1463H73.9517Z' fill='#F6F6F6')
                path(d='M87.8311 8.17251V6.15918H83.1161H80.8981H76.1831V8.17251H80.8981V20.0792H83.1161V8.17251H87.8311Z' fill='#F6F6F6')
                path(d='M91.8952 6.15918L86.5161 20.0792H88.8404L90.2615 16.4392H96.6632L98.0844 20.0792H100.502L95.096 6.15918H91.8819H91.8952ZM91.0319 14.4525L92.4663 10.7725L93.3827 8.19918H93.5421L94.4319 10.7725L95.8664 14.4525H91.0186H91.0319Z' fill='#F6F6F6')
                path(d='M111.26 14.1325V16.3592H111.087L109.613 14.1325L104.353 6.15918H101.976V20.0792H104.194V12.2258V9.95918H104.34L105.841 12.2258L111.087 20.0792H113.465V6.15918H111.26V14.1325Z' fill='#F6F6F6')
                path(d='M124.289 12.7858V12.6258C125.205 12.4925 125.883 12.1592 126.321 11.6258C126.773 11.0925 126.998 10.4392 126.998 9.62585C126.998 8.81251 126.826 8.18585 126.48 7.67918C126.135 7.15918 125.644 6.78585 124.993 6.53251C124.342 6.27918 123.572 6.15918 122.669 6.15918H116.293V20.0792H122.921C123.891 20.0792 124.714 19.9192 125.391 19.6125C126.069 19.3058 126.6 18.8658 126.959 18.2925C127.317 17.7192 127.503 17.0392 127.503 16.2525C127.503 15.3458 127.237 14.5592 126.693 13.9325C126.148 13.2925 125.352 12.9192 124.276 12.7858H124.289ZM118.511 8.17251H122.523C123.346 8.17251 123.93 8.30585 124.276 8.58585C124.608 8.86585 124.78 9.34585 124.78 10.0392C124.78 10.7325 124.594 11.2392 124.236 11.5058C123.877 11.7725 123.28 11.9192 122.456 11.9192H118.498V8.17251H118.511ZM124.687 17.6125C124.302 17.9058 123.691 18.0525 122.841 18.0525H118.511V13.8125H122.841C123.665 13.8125 124.276 13.9592 124.674 14.2658C125.059 14.5592 125.259 15.1192 125.259 15.9325C125.259 16.7458 125.073 17.3192 124.687 17.6125V17.6125Z' fill='#F6F6F6')
                path(d='M139.377 14.6392C139.377 15.4658 139.257 16.1458 139.031 16.6525C138.792 17.1592 138.407 17.5325 137.876 17.7725C137.331 18.0125 136.614 18.1325 135.698 18.1325C134.781 18.1325 134.064 18.0125 133.533 17.7725C133.002 17.5325 132.616 17.1592 132.377 16.6525C132.138 16.1325 132.019 15.4658 132.019 14.6392V6.15918H129.801V14.6392C129.801 15.8125 130.027 16.8258 130.491 17.6658C130.956 18.5058 131.634 19.1592 132.51 19.6125C133.4 20.0658 134.463 20.2925 135.698 20.2925C136.933 20.2925 138.022 20.0658 138.899 19.6125C139.775 19.1592 140.439 18.5192 140.904 17.6658C141.369 16.8258 141.608 15.8125 141.608 14.6392V6.15918H139.39V14.6392H139.377Z' fill='#F6F6F6')
                path(d='M146.602 18.0392V6.15918H144.384V20.0792H145.035H146.602H154V18.0392H146.602Z' fill='#F6F6F6')
                path(d='M63.9772 31.9605V31.8805C64.4554 31.8138 64.8007 31.6405 65.0398 31.3605C65.2788 31.0938 65.3984 30.7472 65.3984 30.3205C65.3984 29.8938 65.3054 29.5738 65.1327 29.3072C64.9601 29.0405 64.6945 28.8405 64.3624 28.7205C64.0304 28.5872 63.6186 28.5205 63.1538 28.5205H59.8467V35.7338H63.2733C63.778 35.7338 64.203 35.6538 64.5616 35.4938C64.9202 35.3338 65.1859 35.1072 65.3718 34.8138C65.5578 34.5205 65.664 34.1738 65.664 33.7605C65.664 33.2805 65.5179 32.8805 65.239 32.5472C64.9601 32.2138 64.5484 32.0138 63.9772 31.9605V31.9605ZM60.9889 29.5738H63.0741C63.4991 29.5738 63.8046 29.6405 63.9772 29.7872C64.1499 29.9338 64.2429 30.1872 64.2429 30.5472C64.2429 30.9072 64.1499 31.1605 63.964 31.3072C63.778 31.4538 63.4726 31.5205 63.0475 31.5205H61.0022V29.5872L60.9889 29.5738ZM64.1898 34.4672C63.9905 34.6138 63.6718 34.6938 63.2335 34.6938H60.9889V32.4938H63.2335C63.6585 32.4938 63.9772 32.5738 64.1765 32.7205C64.389 32.8805 64.4819 33.1605 64.4819 33.5872C64.4819 34.0138 64.389 34.3072 64.1898 34.4538V34.4672Z' fill='#F6F6F6')
                path(d='M67.9353 28.5205H66.7798V35.7338H67.9353V28.5205Z' fill='#F6F6F6')
                path(d='M73.0749 30.6269C72.6897 30.3869 72.2116 30.2803 71.6671 30.2803C71.1225 30.2803 70.6577 30.4003 70.2592 30.6269C69.8608 30.8536 69.5553 31.1869 69.3428 31.6003C69.1303 32.0136 69.0107 32.5069 69.0107 33.0536C69.0107 33.6003 69.117 34.0936 69.3428 34.5203C69.5553 34.9336 69.874 35.2669 70.2592 35.5069C70.6577 35.7336 71.1225 35.8536 71.6671 35.8536C72.2116 35.8536 72.6765 35.7336 73.0749 35.5069C73.4601 35.2803 73.7656 34.9469 73.9781 34.5203C74.1906 34.0936 74.2968 33.6136 74.2968 33.0536C74.2968 32.4936 74.1906 32.0136 73.9781 31.6003C73.7656 31.1869 73.4601 30.8536 73.0749 30.6269ZM72.8491 34.3869C72.6366 34.6669 72.2382 34.8136 71.6671 34.8136C71.096 34.8136 70.7108 34.6669 70.485 34.3869C70.2592 34.1069 70.153 33.6536 70.153 33.0536C70.153 32.4536 70.2592 32.0136 70.485 31.7203C70.7108 31.4403 71.096 31.2936 71.6671 31.2936C72.2382 31.2936 72.6233 31.4403 72.8491 31.7203C73.0616 32.0003 73.1812 32.4536 73.1812 33.0536C73.1812 33.6536 73.0749 34.1069 72.8491 34.3869Z' fill='#F6F6F6')
                path(d='M79.105 30.5466C78.7464 30.3599 78.3346 30.2666 77.8565 30.2666C77.2987 30.2666 76.8338 30.3866 76.4354 30.6133C76.0369 30.8399 75.7315 31.1733 75.519 31.5999C75.3065 32.0133 75.2002 32.5066 75.2002 33.0533C75.2002 33.5999 75.3064 34.0933 75.5057 34.5199C75.7182 34.9333 76.0104 35.2666 76.3955 35.5066C76.7807 35.7466 77.2588 35.8666 77.8034 35.8666C78.2948 35.8666 78.7198 35.7733 79.0784 35.5866C79.437 35.3999 79.7159 35.1466 79.9152 34.8266C80.1144 34.5066 80.2074 34.1333 80.2074 33.7066V33.6133H79.0651V33.6799C79.0651 34.0799 78.9589 34.3599 78.7597 34.5466C78.5472 34.7333 78.2151 34.8133 77.7635 34.8133C77.2588 34.8133 76.9002 34.6666 76.6745 34.3866C76.4619 34.1066 76.3424 33.6666 76.3424 33.0799C76.3424 32.4933 76.4487 32.0666 76.6745 31.7733C76.887 31.4799 77.2588 31.3333 77.7635 31.3333C78.2284 31.3333 78.5604 31.4266 78.7597 31.6133C78.9722 31.7999 79.0651 32.0799 79.0651 32.4799V32.5466H80.2074V32.4533C80.2074 32.0266 80.1011 31.6533 79.9152 31.3333C79.7159 31.0133 79.437 30.7599 79.0784 30.5733L79.105 30.5466Z' fill='#F6F6F6')
                path(d='M84.962 30.3872L83.5276 32.5072H82.4651V28.5205H81.3096V35.7338H82.4651V33.5472H83.5276L84.9222 35.7338H86.2902L84.4573 32.9205L86.3167 30.3872H84.962Z' fill='#F6F6F6')
                path(d='M90.4473 30.5466C90.0887 30.3599 89.6769 30.2666 89.1988 30.2666C88.641 30.2666 88.1761 30.3866 87.7777 30.6133C87.3792 30.8399 87.0737 31.1733 86.8612 31.5999C86.6487 32.0133 86.5425 32.5066 86.5425 33.0533C86.5425 33.5999 86.6487 34.0933 86.848 34.5199C87.0605 34.9333 87.3526 35.2666 87.7378 35.5066C88.123 35.7466 88.6011 35.8666 89.1457 35.8666C89.6371 35.8666 90.0621 35.7733 90.4207 35.5866C90.7793 35.3999 91.0582 35.1466 91.2574 34.8266C91.4567 34.5066 91.5496 34.1333 91.5496 33.7066V33.6133H90.4074V33.6799C90.4074 34.0799 90.3012 34.3599 90.1019 34.5466C89.8894 34.7333 89.5574 34.8133 89.1058 34.8133C88.6011 34.8133 88.2425 34.6666 88.0167 34.3866C87.8042 34.1066 87.6847 33.6666 87.6847 33.0799C87.6847 32.4933 87.7909 32.0666 88.0167 31.7733C88.2425 31.4799 88.6011 31.3333 89.1058 31.3333C89.5707 31.3333 89.9027 31.4266 90.1019 31.6133C90.3144 31.7999 90.4074 32.0799 90.4074 32.4799V32.5466H91.5496V32.4533C91.5496 32.0266 91.4434 31.6533 91.2574 31.3333C91.0582 31.0133 90.7793 30.7599 90.4207 30.5733L90.4473 30.5466Z' fill='#F6F6F6')
                path(d='M96.7695 30.5468C96.4773 30.3602 96.1055 30.2668 95.6406 30.2668C95.3219 30.2668 95.0429 30.3202 94.8039 30.4135C94.5648 30.5068 94.3656 30.6402 94.2195 30.7868C94.0601 30.9468 93.9538 31.1068 93.8609 31.2668H93.821V28.5068H92.6655V35.7202H93.821V32.6402C93.821 32.1335 93.9406 31.7735 94.1531 31.5735C94.3789 31.3735 94.7242 31.2668 95.189 31.2668C95.6539 31.2668 96.0125 31.3735 96.1984 31.5735C96.3844 31.7868 96.4773 32.1335 96.4773 32.6135V35.7202H97.6329V32.3468C97.6329 31.9468 97.5664 31.6002 97.4203 31.2802C97.2875 30.9602 97.0617 30.7202 96.7828 30.5335L96.7695 30.5468Z' fill='#F6F6F6')
                path(d='M102.467 30.5603C102.135 30.3736 101.724 30.2803 101.232 30.2803C100.741 30.2803 100.342 30.3736 99.9971 30.5469C99.6385 30.7203 99.3729 30.9603 99.1736 31.2803C98.9744 31.5869 98.8814 31.9469 98.8814 32.3469V32.4536H99.9971V32.2936C99.9971 31.9336 100.09 31.6803 100.263 31.5336C100.449 31.3869 100.754 31.3069 101.166 31.3069C101.578 31.3069 101.896 31.3736 102.082 31.5203C102.268 31.6669 102.375 31.9336 102.375 32.3336V32.6269L100.502 32.8936C100.13 32.9469 99.8112 33.0403 99.5455 33.1736C99.2799 33.3069 99.0807 33.4669 98.9346 33.6669C98.8018 33.8669 98.7354 34.1203 98.7354 34.4136C98.7354 34.8803 98.8947 35.2403 99.2135 35.4803C99.5322 35.7203 99.9307 35.8536 100.422 35.8536C100.754 35.8536 101.046 35.8136 101.285 35.7203C101.538 35.6269 101.75 35.5203 101.936 35.3736C102.109 35.2269 102.255 35.0803 102.348 34.9069H102.388V35.7469H103.464V32.4936C103.464 32.0536 103.384 31.6669 103.211 31.3336C103.052 31.0003 102.8 30.7469 102.454 30.5603H102.467ZM102.135 34.3869C101.976 34.5869 101.777 34.7336 101.538 34.8136C101.299 34.8936 101.046 34.9336 100.781 34.9336C100.449 34.9336 100.196 34.8803 100.064 34.7869C99.9174 34.6936 99.8377 34.5336 99.8377 34.3336C99.8377 34.1336 99.9041 33.9869 100.024 33.9069C100.143 33.8269 100.356 33.7469 100.661 33.7069L102.361 33.4803V33.5603C102.361 33.9203 102.282 34.2003 102.122 34.4003L102.135 34.3869Z' fill='#F6F6F6')
                path(d='M105.867 29.7072V28.5205H104.712L104.725 29.7072H105.867Z' fill='#F6F6F6')
                path(d='M105.881 30.3604H104.725V35.747H105.881V30.3604Z' fill='#F6F6F6')
                path(d='M111.26 30.5469C110.968 30.3603 110.582 30.2803 110.118 30.2803C109.786 30.2803 109.493 30.3336 109.241 30.4403C108.989 30.5469 108.789 30.6803 108.63 30.8536C108.471 31.0136 108.364 31.2003 108.271 31.4003H108.218V30.4003H107.156V35.7603H108.311V32.6669C108.311 32.3336 108.364 32.0669 108.457 31.8669C108.564 31.6669 108.71 31.5203 108.922 31.4403C109.121 31.3603 109.387 31.3069 109.693 31.3069C110.184 31.3069 110.529 31.4136 110.702 31.6136C110.888 31.8269 110.968 32.1736 110.968 32.6536V35.7603H112.11V32.4003C112.11 31.9869 112.043 31.6269 111.897 31.3069C111.751 30.9869 111.539 30.7469 111.246 30.5603L111.26 30.5469Z' fill='#F6F6F6')
                path(d='M120.437 32.1468C120.145 31.9601 119.786 31.8268 119.335 31.7334L118.113 31.4801C117.781 31.4001 117.528 31.3201 117.342 31.2534C117.156 31.1734 117.024 31.0801 116.957 30.9468C116.878 30.8134 116.838 30.6401 116.838 30.4268C116.838 30.1201 116.957 29.8801 117.183 29.7201C117.422 29.5601 117.807 29.4801 118.339 29.4801C118.764 29.4801 119.096 29.5334 119.348 29.6401C119.587 29.7468 119.76 29.8934 119.866 30.0934C119.959 30.2934 120.012 30.5334 120.012 30.8401V30.9601H121.168V30.8268C121.168 30.4001 121.075 30.0001 120.889 29.6401C120.703 29.2801 120.397 28.9868 119.985 28.7601C119.574 28.5334 119.042 28.4268 118.378 28.4268C117.767 28.4268 117.263 28.5201 116.864 28.7201C116.466 28.9201 116.174 29.1734 115.988 29.4801C115.802 29.7868 115.709 30.1334 115.709 30.4934C115.709 30.8534 115.775 31.1868 115.921 31.4534C116.067 31.7201 116.28 31.9334 116.559 32.1068C116.838 32.2801 117.183 32.4001 117.595 32.4801L118.817 32.7201C119.189 32.7868 119.467 32.8668 119.653 32.9601C119.839 33.0401 119.972 33.1601 120.039 33.2934C120.105 33.4401 120.132 33.6134 120.132 33.8401C120.132 34.1734 120.025 34.4134 119.813 34.5734C119.6 34.7334 119.228 34.8001 118.697 34.8001C118.192 34.8001 117.807 34.7468 117.528 34.6534C117.263 34.5468 117.064 34.4001 116.971 34.2001C116.864 34.0001 116.811 33.7468 116.811 33.4534V33.3334H115.669V33.5068C115.669 33.9734 115.775 34.3868 115.988 34.7334C116.2 35.0934 116.519 35.3601 116.971 35.5601C117.409 35.7601 117.967 35.8534 118.644 35.8534C119.255 35.8534 119.76 35.7601 120.158 35.5734C120.543 35.3868 120.835 35.1334 121.021 34.8134C121.207 34.4934 121.3 34.1468 121.3 33.7734C121.3 33.4001 121.234 33.0934 121.088 32.8134C120.955 32.5468 120.743 32.3201 120.45 32.1334L120.437 32.1468Z' fill='#F6F6F6')
                path(d='M126.202 33.4004C126.202 33.747 126.149 34.027 126.042 34.2404C125.936 34.4537 125.777 34.6137 125.564 34.707C125.352 34.8004 125.099 34.8537 124.807 34.8537C124.342 34.8537 124.01 34.747 123.811 34.5337C123.612 34.3204 123.505 33.9737 123.505 33.4804V30.387H122.363V33.6937C122.363 34.0937 122.43 34.467 122.576 34.787C122.709 35.1204 122.934 35.3737 123.24 35.5604C123.545 35.747 123.917 35.8404 124.382 35.8404C124.727 35.8404 125.033 35.787 125.272 35.667C125.511 35.5604 125.724 35.4137 125.883 35.227C126.042 35.0537 126.162 34.8537 126.242 34.6537H126.281V35.7204H127.357V30.3604H126.215V33.3737L126.202 33.4004Z' fill='#F6F6F6')
                path(d='M136.402 30.5469C136.11 30.3603 135.738 30.2803 135.286 30.2803C134.941 30.2803 134.635 30.3336 134.396 30.4403C134.157 30.5469 133.958 30.6936 133.799 30.8669C133.639 31.0403 133.533 31.2136 133.44 31.4003H133.387C133.387 31.4003 133.387 31.3336 133.374 31.3069C133.241 30.9869 133.028 30.7469 132.749 30.5603C132.471 30.3736 132.099 30.2936 131.647 30.2936C131.315 30.2936 131.023 30.3469 130.784 30.4536C130.545 30.5603 130.345 30.6936 130.186 30.8669C130.027 31.0269 129.92 31.2136 129.841 31.4136H129.788V30.4136H128.725V35.7736H129.881V32.6536C129.881 32.1603 129.987 31.8269 130.199 31.6269C130.412 31.4269 130.731 31.3336 131.169 31.3336C131.647 31.3336 131.979 31.4403 132.165 31.6403C132.351 31.8536 132.431 32.2003 132.431 32.6803V35.7869H133.573V32.6669C133.573 32.1736 133.679 31.8403 133.892 31.6269C134.104 31.4269 134.423 31.3203 134.861 31.3203C135.353 31.3203 135.685 31.4269 135.857 31.6269C136.03 31.8403 136.123 32.1869 136.123 32.6669V35.7736H137.278V32.4136C137.278 32.0003 137.212 31.6403 137.066 31.3203C136.92 31.0003 136.707 30.7603 136.415 30.5736L136.402 30.5469Z' fill='#F6F6F6')
                path(d='M146.283 30.5469C145.991 30.3603 145.619 30.2803 145.168 30.2803C144.822 30.2803 144.517 30.3336 144.278 30.4403C144.039 30.5469 143.839 30.6936 143.68 30.8669C143.521 31.0403 143.414 31.2136 143.321 31.4003H143.268C143.268 31.4003 143.268 31.3336 143.255 31.3069C143.122 30.9869 142.91 30.7469 142.631 30.5603C142.352 30.3736 141.98 30.2936 141.528 30.2936C141.196 30.2936 140.904 30.3469 140.665 30.4536C140.426 30.5603 140.227 30.6936 140.067 30.8669C139.908 31.0269 139.802 31.2136 139.722 31.4136H139.669V30.4136H138.606V35.7736H139.762V32.6536C139.762 32.1603 139.868 31.8269 140.081 31.6269C140.293 31.4269 140.612 31.3336 141.05 31.3336C141.528 31.3336 141.86 31.4403 142.046 31.6403C142.232 31.8536 142.312 32.2003 142.312 32.6803V35.7869H143.454V32.6669C143.454 32.1736 143.56 31.8403 143.773 31.6269C143.985 31.4269 144.304 31.3203 144.743 31.3203C145.234 31.3203 145.566 31.4269 145.739 31.6269C145.911 31.8403 146.004 32.1869 146.004 32.6669V35.7736H147.16V32.4136C147.16 32.0003 147.093 31.6403 146.947 31.3203C146.801 31.0003 146.589 30.7603 146.296 30.5736L146.283 30.5469Z' fill='#F6F6F6')
                path(d='M149.551 30.3604H148.395V35.747H149.551V30.3604Z' fill='#F6F6F6')
                path(d='M149.551 29.7072V28.5205H148.382L148.395 29.7072H149.551Z' fill='#F6F6F6')
                path(d='M154 31.3597V30.3864H152.38V29.0664H151.503L151.264 30.3864H150.361V31.3597H151.237V34.0931C151.237 34.6931 151.397 35.1197 151.702 35.3731C152.008 35.6264 152.459 35.7464 153.044 35.7464C153.23 35.7464 153.416 35.7464 153.588 35.7197C153.761 35.6931 153.894 35.6797 154 35.6531V34.6931H153.362C152.991 34.6931 152.738 34.6531 152.605 34.5731C152.459 34.4931 152.393 34.3197 152.393 34.0397V31.3597H154.013H154Z' fill='#F6F6F6')
                path(d='M5.4855 37.626C4.70189 40.586 7.39805 43.306 10.3466 42.506L19.6437 39.9993L7.96916 28.2793L5.4855 37.6126V37.626Z' fill='url(#paint0_linear_65_1907)')
                path(d='M21.3701 1.17255C19.2052 -1.00079 15.5129 -0.000787735 14.7293 2.95921L12.2456 12.2792L28.1702 7.99921L21.3701 1.17255Z' fill='url(#paint1_linear_65_1907)')
                path(d='M46.6451 26.5464L39.8449 19.7197L35.5815 35.7197L44.8787 33.2264C47.8272 32.4264 48.8233 28.7331 46.6584 26.5597L46.6451 26.5464Z' fill='url(#paint2_linear_65_1907)')
                path(d='M39.8447 19.7192L42.3417 10.3859C43.1386 7.42586 40.4291 4.70586 37.4806 5.50586L28.1968 7.9992L39.858 19.7059L39.8447 19.7192Z' fill='url(#paint3_linear_65_1907)')
                path(d='M26.4438 46.8261C28.6087 48.9994 32.2877 47.9994 33.0846 45.0394L35.5683 35.7061L19.6304 39.9861L26.4305 46.8127L26.4438 46.8261Z' fill='url(#paint4_linear_65_1907)')
                path(d='M7.96884 28.2796L12.2322 12.293L2.93512 14.7863C-0.000112433 15.573 -0.996231 19.2796 1.16867 21.453L7.98212 28.293L7.96884 28.2796Z' fill='url(#paint5_linear_65_1907)')
                g(style='mix-blend-mode:overlay')
                  path(d='M39.845 19.7197L35.5817 35.7064L19.6438 39.9864L7.96924 28.2797L19.6438 39.9997L35.5817 35.7197L39.845 19.7197Z' fill='#D0FAFF')
                g(style='mix-blend-mode:overlay')
                  path(d='M28.1705 7.98633H28.1572L28.1705 7.99966V7.98633Z' fill='white')
                g(style='mix-blend-mode:overlay')
                  path(d='M28.1703 7.99966L28.157 7.98633L12.2457 12.2797H12.2324L28.1703 7.99966Z' fill='white')
                path(d='M28.1705 8L12.2326 12.28L7.96924 28.28L23.9071 23.9867L28.1705 8Z' fill='url(#paint6_linear_65_1907)')
                path(d='M7.96924 28.2797L19.6438 39.9863L35.5817 35.7063L23.9071 23.9863L7.96924 28.2797Z' fill='url(#paint7_linear_65_1907)')
                g(style='mix-blend-mode:overlay')
                  path(d='M28.1704 7.99966H28.1837L28.1704 7.98633V7.99966Z' fill='#D0FAFF')
                g(style='mix-blend-mode:overlay')
                  path(d='M39.8449 19.72V19.7067L28.1837 8H28.1704L39.8449 19.72Z' fill='#D0FAFF')
                path(d='M28.1701 8L23.9067 23.9867L35.5813 35.7067L39.8446 19.72L28.1701 8Z' fill='url(#paint8_linear_65_1907)')
                g(style='mix-blend-mode:overlay')
                  path(d='M23.9201 24L23.9068 23.9867L23.8936 24L27.971 8.05333L28.1702 8L28.303 8.13333L23.9201 24Z' fill='white')
                g(style='mix-blend-mode:overlay')
                  path(d='M23.9071 23.9997H23.8939V23.9863L8.02236 28.0797L7.96924 28.2797L8.10205 28.413L23.9071 23.9997Z' fill='white')
              defs
                linearGradient(id='paint0_linear_65_1907' x1='-14.2244' y1='33.466' x2='49.0396' y2='38.9832' gradientUnits='userSpaceOnUse')
                  stop(stop-color='#43FFFA')
                  stop(offset='0.02' stop-color='#42FBF9')
                  stop(offset='0.35' stop-color='#3E48F9')
                  stop(offset='0.5' stop-color='#3D00F9')
                  stop(offset='0.55' stop-color='#4506F7')
                  stop(offset='0.64' stop-color='#5E18F3')
                  stop(offset='0.74' stop-color='#8636ED')
                  stop(offset='0.87' stop-color='#BD5FE4')
                  stop(offset='1' stop-color='#FF90DA')
                linearGradient(id='paint1_linear_65_1907' x1='16.9871' y1='-1.96079' x2='34.981' y2='65.2577' gradientUnits='userSpaceOnUse')
                  stop(stop-color='#43FFFA')
                  stop(offset='0.02' stop-color='#42FBF9')
                  stop(offset='0.35' stop-color='#3E48F9')
                  stop(offset='0.5' stop-color='#3D00F9')
                  stop(offset='0.55' stop-color='#4506F7')
                  stop(offset='0.64' stop-color='#5E18F3')
                  stop(offset='0.74' stop-color='#8636ED')
                  stop(offset='0.87' stop-color='#BD5FE4')
                  stop(offset='1' stop-color='#FF90DA')
                linearGradient(id='paint2_linear_65_1907' x1='30.5213' y1='3.93306' x2='43.2104' y2='35.7258' gradientUnits='userSpaceOnUse')
                  stop(stop-color='#43FFFA')
                  stop(offset='0.02' stop-color='#42FBF9')
                  stop(offset='0.43' stop-color='#3E48F9')
                  stop(offset='0.6' stop-color='#3D00F9')
                  stop(offset='0.65' stop-color='#4506F7')
                  stop(offset='0.71' stop-color='#5E18F3')
                  stop(offset='0.8' stop-color='#8636ED')
                  stop(offset='0.9' stop-color='#BD5FE4')
                  stop(offset='1' stop-color='#FF90DA')
                linearGradient(id='paint3_linear_65_1907' x1='25.9522' y1='-20.8408' x2='45.3332' y2='39.0085' gradientUnits='userSpaceOnUse')
                  stop(stop-color='#43FFFA')
                  stop(offset='0.02' stop-color='#42FBF9')
                  stop(offset='0.43' stop-color='#3E48F9')
                  stop(offset='0.6' stop-color='#3D00F9')
                  stop(offset='0.65' stop-color='#4506F7')
                  stop(offset='0.71' stop-color='#5E18F3')
                  stop(offset='0.8' stop-color='#8636ED')
                  stop(offset='0.9' stop-color='#BD5FE4')
                  stop(offset='1' stop-color='#FF90DA')
                linearGradient(id='paint4_linear_65_1907' x1='-3.70538' y1='20.4527' x2='40.959' y2='47.1129' gradientUnits='userSpaceOnUse')
                  stop(stop-color='#43FFFA')
                  stop(offset='0.02' stop-color='#42FBF9')
                  stop(offset='0.43' stop-color='#3E48F9')
                  stop(offset='0.6' stop-color='#3D00F9')
                  stop(offset='0.65' stop-color='#4506F7')
                  stop(offset='0.71' stop-color='#5E18F3')
                  stop(offset='0.8' stop-color='#8636ED')
                  stop(offset='0.9' stop-color='#BD5FE4')
                  stop(offset='1' stop-color='#FF90DA')
                linearGradient(id='paint5_linear_65_1907' x1='-10.1871' y1='14.573' x2='103.315' y2='46.3033' gradientUnits='userSpaceOnUse')
                  stop(stop-color='#43FFFA')
                  stop(offset='0.02' stop-color='#42FBF9')
                  stop(offset='0.35' stop-color='#3E48F9')
                  stop(offset='0.5' stop-color='#3D00F9')
                  stop(offset='0.55' stop-color='#4506F7')
                  stop(offset='0.64' stop-color='#5E18F3')
                  stop(offset='0.74' stop-color='#8636ED')
                  stop(offset='0.87' stop-color='#BD5FE4')
                  stop(offset='1' stop-color='#FF90DA')
                linearGradient(id='paint6_linear_65_1907' x1='11.8342' y1='12.7067' x2='49.6131' y2='45.3479' gradientUnits='userSpaceOnUse')
                  stop(stop-color='#43FFFA')
                  stop(offset='0.02' stop-color='#42FBF9')
                  stop(offset='0.35' stop-color='#3E48F9')
                  stop(offset='0.5' stop-color='#3D00F9')
                  stop(offset='0.55' stop-color='#4506F7')
                  stop(offset='0.64' stop-color='#5E18F3')
                  stop(offset='0.74' stop-color='#8636ED')
                  stop(offset='0.87' stop-color='#BD5FE4')
                  stop(offset='1' stop-color='#FF90DA')
                linearGradient(id='paint7_linear_65_1907' x1='-5.84361' y1='31.613' x2='66.2755' y2='32.5788' gradientUnits='userSpaceOnUse')
                  stop(stop-color='#43FFFA')
                  stop(offset='0.02' stop-color='#42FBF9')
                  stop(offset='0.35' stop-color='#3E48F9')
                  stop(offset='0.5' stop-color='#3D00F9')
                  stop(offset='0.55' stop-color='#4506F7')
                  stop(offset='0.64' stop-color='#5E18F3')
                  stop(offset='0.74' stop-color='#8636ED')
                  stop(offset='0.87' stop-color='#BD5FE4')
                  stop(offset='1' stop-color='#FF90DA')
                linearGradient(id='paint8_linear_65_1907' x1='19.5902' y1='-6.05333' x2='38.6801' y2='36.9718' gradientUnits='userSpaceOnUse')
                  stop(stop-color='#43FFFA')
                  stop(offset='0.02' stop-color='#42FBF9')
                  stop(offset='0.35' stop-color='#3E48F9')
                  stop(offset='0.5' stop-color='#3D00F9')
                  stop(offset='0.55' stop-color='#4506F7')
                  stop(offset='0.64' stop-color='#5E18F3')
                  stop(offset='0.74' stop-color='#8636ED')
                  stop(offset='0.87' stop-color='#BD5FE4')
                  stop(offset='1' stop-color='#FF90DA')
                clipPath(id='clip0_65_1907')
                  rect(width='154' height='48' fill='white')
          h6.footer-copyright-text.general-text-two  2022 All rights reserved.
        .footer-top-right-wrapper
          h2.footer-title.general-text-four What is IBS?
          h3.footer-text.general-text-three Istanbul Blockchain Summit is a conference where solutions that will take blockchain technologies to the next level will be presented. This Summit will take place in the Spring of 2023.
          .footer-columns-wrapper
            .footer-each-column-seperator
            .footer-each-column-wrapper
              h3.footer-each-column-title.general-text-four RESOURCES
              a.footer-each-column-link.general-text-two(href='/' target='_blank') Developer Docs
              a.footer-each-column-link.general-text-two(href='/' target='_blank') Brand Assets
              a.footer-each-column-link.general-text-two(href='/' target='_blank') Newsletter
            .footer-each-column-seperator
            .footer-each-column-wrapper
              h3.footer-each-column-title.general-text-four TEAM
              a.footer-each-column-link.general-text-two(href='/' target='_blank') About Us
              a.footer-each-column-link.general-text-two(href='/' target='_blank') Careers
            .footer-each-column-seperator
            .footer-each-column-wrapper
              h3.footer-each-column-title.general-text-four COMMUNITY
              a.footer-each-column-link.general-text-two(href='/' target='_blank') Telegram
              a.footer-each-column-link.general-text-two(href='/' target='_blank') Twitter
              a.footer-each-column-link.general-text-two(href='/' target='_blank') YouTube
              a.footer-each-column-link.general-text-two(href='/' target='_blank') Medium
            .footer-each-column-seperator
            .footer-each-column-wrapper
              h3.footer-each-column-title.general-text-four DIRECT CONTACT
              .footer-each-column-text.general-text-two The venue, date, sponsors and speakers of the event have not been fully clarified yet. Subscribe to our newsletter and follow social media accounts to not miss the latest news about the event.
              .footer-each-column-text-wrapper
                .footer-each-column-text.footer-each-column-text-small.general-text-two +90-537 600 82 37
                .footer-each-column-text.footer-each-column-text-small.general-text-two hello@ibs2023.com
        h6.footer-copyright-text-responsive.general-text-two  2022 All rights reserved.
      .footer-bottom-wrapper
        h6.footer-designed-by-text.general-text-two Designed by RED Flare DDA  2022
        svg.footer-designed-by-icon(viewBox='0 0 66 20' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M0 17.9746V1.99854H7.48919C10.441 1.99854 12.5389 3.57082 12.5389 6.46223C12.5637 7.10843 12.4445 7.75155 12.1917 8.3364C11.9389 8.92124 11.56 9.43033 11.0874 9.81999C11.6713 9.987 12.1779 10.3846 12.509 10.9359C12.8402 11.4872 12.9725 12.153 12.8804 12.8047V17.9079H9.7579V13.4975C9.77024 13.3647 9.75473 13.2306 9.71256 13.1053C9.67039 12.98 9.60265 12.8668 9.51449 12.7743C9.42633 12.6819 9.32006 12.6126 9.20373 12.5717C9.08741 12.5307 8.96408 12.5193 8.8431 12.5382H3.09813V17.9746H0ZM3.09813 9.46023H7.24524C7.52339 9.52613 7.81145 9.52391 8.08872 9.45374C8.36599 9.38356 8.62559 9.24716 8.84887 9.05435C9.07215 8.86154 9.25356 8.61709 9.38007 8.33858C9.50658 8.06006 9.57505 7.7544 9.58056 7.44354C9.58607 7.13268 9.52848 6.82435 9.41193 6.5407C9.29537 6.25705 9.12276 6.00512 8.90648 5.80301C8.6902 5.6009 8.43562 5.45363 8.16104 5.37179C7.88647 5.28994 7.5987 5.27555 7.31843 5.32965H3.09813V9.46023Z' fill='white')
          path(d='M15.0518 17.9746V1.99854H26.2489V5.32965H18.1499V8.27435H25.3098V11.4189H18.1499V14.6568H26.2489V17.9479L15.0518 17.9746Z' fill='white')
          path(d='M28.4199 1.99849H34.5796C35.5616 1.94486 36.5431 2.1135 37.4626 2.49383C38.3821 2.87415 39.2197 3.45796 39.9229 4.20862C40.6261 4.95929 41.1797 5.8606 41.549 6.85603C41.9183 7.85145 42.0952 8.9195 42.0688 9.99316C42.0934 11.0663 41.9152 12.1334 41.5453 13.128C41.1754 14.1225 40.6217 15.023 39.9189 15.7732C39.2161 16.5235 38.3792 17.1074 37.4605 17.4884C36.5419 17.8694 35.5611 18.0395 34.5796 17.9878H28.4199V1.99849ZM31.5181 5.32961V14.6567H34.5308C35.1052 14.7005 35.6816 14.6112 36.2222 14.3947C36.7628 14.1781 37.2554 13.8392 37.6677 13.4001C38.08 12.961 38.4027 12.4317 38.6146 11.8469C38.8265 11.262 38.9229 10.6349 38.8975 10.0065C38.9245 9.37646 38.8294 8.7473 38.6184 8.16023C38.4073 7.57316 38.0851 7.04142 37.6728 6.59986C37.2606 6.1583 36.7676 5.81688 36.2261 5.59798C35.6846 5.37907 35.1069 5.28762 34.5308 5.32961H31.5181Z' fill='white')
          path(d='M56.6933 0L59.1572 2.91805L62.7676 2.41173L62.9262 6.38241L65.9877 8.52765L63.7922 11.6855L64.8778 15.4697L61.3283 16.3358L59.9256 20L56.6933 18.1746L53.4732 20L52.0705 16.3358L48.5211 15.4697L49.6066 11.6855L47.3989 8.52765L50.4605 6.38241L50.6312 2.41173L54.2295 2.91805L56.6933 0Z' fill='#E62E2E')
