:root {
  --design-file-shape-constant: 1920px;
  --content-max-width: 1400px;
  --content-horizontal-padding: 150px;
}

.each-content-wrapper {
  z-index: 3;
  width: 100vw;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0 var(--content-horizontal-padding);
}
.each-content-title {
  text-transform: capitalize;
  margin-bottom: 5px;
}
.each-content-subtitle {
  margin-top: 10px;
}
.each-content-text {
  margin-bottom: 30px;
}
.each-content-space {
  width: 100%;
  height: 100px;
  min-height: 100px;
}

.start-page-wrapper {
  z-index: 2;
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  padding: 0 calc(max(var(--content-horizontal-padding), (100vw - var(--content-max-width)) / 2));
  overflow: visible;
}
.start-page-background-shape {
  position: absolute;
  z-index: -1;
  width: 501px;
  height: 501px;
  left: -243px;
  bottom: -72px;
  background: rgba(14, 0, 106, 1);
  filter: blur(237px);
  -webkit-filter: blur(237px);
}

.start-page-content-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 8;
  height: 100vh;
  width: 100vw;
  padding: 0 var(--content-horizontal-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.start-page-title {
  width: 55vw;
  height: auto;
}
.start-page-subtitle {
  margin-top: 30px;
}

.start-page-animation-wrapper {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.each-start-page-animation {
  height: auto;
  position: absolute;
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
}
/* .each-start-page-animation-1 {
  z-index: 7;
  width: 1100px;
  top: -500px;
  right: -150px;
}
.each-start-page-animation-2 {
  z-index: 6;
  width: 870px;
  top: -80px;
  right: -150px;
}
.each-start-page-animation-3 {
  z-index: 5;
  width: 760px;
  top: 140px;
  right: 180px;
}
.each-start-page-animation-4 {
  z-index: 4;
  width: 610px;
  top: 340px;
  right: -150px;
}
.each-start-page-animation-5 {
  z-index: 3;
  width: 610px;
  top: 450px;
  right: 150px;
}
.each-start-page-animation-6 {
  z-index: 2;
  width: 410px;
  top: 600px;
  right: -20px;
} */

.each-start-page-animation-1, .each-start-page-animation-border-1 {
  z-index: 14;
  width: 1100px;
  top: -250px;
  right: -100px;
}
.each-start-page-animation-1 {
  z-index: 13;
}
.each-start-page-animation-2, .each-start-page-animation-border-2 {
  z-index: 12;
  width: 870px;
  top: -90px;
  right: -110px;
}
.each-start-page-animation-2 {
  z-index: 11;
}
.each-start-page-animation-3, .each-start-page-animation-border-3 {
  z-index: 10;
  width: 760px;
  top: 100px;
  right: 10px;
}
.each-start-page-animation-3 {
  z-index: 9;
}
.each-start-page-animation-4, .each-start-page-animation-border-4 {
  z-index: 8;
  width: 610px;
  top: 250px;
  right: -30px;
}
.each-start-page-animation-4 {
  z-index: 7;
}
.each-start-page-animation-5, .each-start-page-animation-border-5 {
  z-index: 6;
  width: 610px;
  top: 290px;
  right: 55px;
}
.each-start-page-animation-5 {
  z-index: 5;
}
.each-start-page-animation-6, .each-start-page-animation-border-6 {
  z-index: 4;
  width: 410px;
  top: 480px;
  right: 50px;
}
.each-start-page-animation-6 {
  z-index: 3;
}

.second-page-wrapper {
  position: absolute;
  width: 70vw;
  max-width: 70vw;
  position: relative;
}

.trailer-wrapper {
  z-index: 2;
  position: relative;
  width: 100vw;
  height: fit-content;
  min-height: fit-content;
  overflow: visible;
  padding: 0 var(--content-horizontal-padding);
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trailer-background {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100vw - 2 * var(--content-horizontal-padding));
  margin: 0 var(--content-horizontal-padding);
  height: 350px;
  filter: blur(15px);
  -webkit-filter: blur(15px);
}
.trailer {
  width: calc(100vw - 2 * var(--content-horizontal-padding));
  margin: 0 var(--content-horizontal-padding);
  height: fit-content;
  min-height: fit-content;
}
.trailer-play-icon-wrapper {
  position: absolute;
  z-index: 3;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(117.5deg, rgba(25, 1, 102, 0.343) 0.16%, rgba(24, 1, 102, 0) 100%);
  filter: drop-shadow(24px 25px 78px rgba(0, 6, 16, 0.5));
  -webkit-filter: drop-shadow(24px 25px 78px rgba(0, 6, 16, 0.5));
  backdrop-filter: blur(25px);
  cursor: pointer;
}
.trailer-play-icon {
  width: 30px;
  height: auto;
  margin-right: -10px;
}

.clock-image-outer-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: fit-content;
  min-height: fit-content;
}
.clock-image-wrapper {
  width: 550px;
  min-width: 550px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -120px;
  z-index: 2;
}
.clock {
  width: 300px;
  height: auto;
}
.clock-image-text-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: fit-content;
  min-height: fit-content;
  margin-top: 30px;
}

.cube-title {
  margin-left: auto;
  text-align: right;
  z-index: 2;
}
.cube-image-outer-wrapper {
  position: relative;
  display: flex;
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  position: relative;
}
.cube-image-text-wrapper {
  flex: 1;
  height: fit-content;
  min-height: fit-content;
  z-index: 2;
  margin-top: 100px;
}
.cube-image-wrapper {
  width: 520px;
  min-width: 520px;
  margin-right: calc(100% - 1200px);
}
.cube {
  position: absolute;
  margin-left: -100px;
  margin-top: -50px;
}

.each-link-wrapper {
  position: relative;
  width: calc(100vw - 2 * var(--content-horizontal-padding));
  margin-left: var(--content-horizontal-padding);
  height: 350px;
  min-height: 350px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(267.41deg, rgba(255, 255, 255, 0.074) 0%, rgba(255, 255, 255, 0) 52.08%, rgba(71, 71, 71, 0) 100%), rgba(229, 229, 229, 0.03);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 30px 60px;
}
.each-link-title {
  z-index: 2;
}
.each-link-subtitle {
  z-index: 2;
  max-width: 700px;
  margin-top: 15px;
}
.each-link-background-icon {
  position: absolute;
  height: 110%;
  min-height: 110%;
  width: auto;
  right: 60px;
  top: -25px;
}
.each-link-button {
  position: absolute;
  width: 360px;
  height: 80px;
  right: 0;
  bottom: 0;
  background-color: rgba(15, 98, 254, 1);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-decoration: none;
}
.each-link-button-icon {
  height: 30px;
  width: auto;
}

.phone-image-outer-wrapper {
  display: flex;
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  position: relative;
}
.phone-image-text-wrapper {
  flex: 1;
  height: fit-content;
  min-height: fit-content;
  z-index: 2;
  margin-top: 100px;
}
.phone-image-wrapper {
  width: 520px;
  min-width: 520px;
  margin-right: calc(100% - 1200px);
}
.phone {
  position: absolute;
  margin-left: -100px;
  margin-top: -50px;
  z-index: 1;
}
.phone-title {
  z-index: 3;
}

@media only screen and (max-width: 800px) {
  .each-content-space {
    height: 90px;
    min-height: 90px;
  }
}
@media only screen and (max-width: 500px) {
  .each-content-text {
    margin-bottom: 20px;
  }
  .each-content-space {
    height: 80px;
    min-height: 80px;
  }
}

@media only screen and (max-width: 1200px) {
  :root {
    --content-horizontal-padding: 100px;
  }
}
@media only screen and (max-width: 800px) {
  :root {
    --content-horizontal-padding: 60px;
  }
}
@media only screen and (max-width: 700px) {
  :root {
    --content-horizontal-padding: 40px;
  }
}
@media only screen and (max-width: 500px) {
  :root {
    --content-horizontal-padding: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .start-page-title {
    width: 70vw;
  }
}
@media only screen and (max-width: 700px) {
  .start-page-title {
    width: 80vw;
  }
}
@media only screen and (max-width: 700px) {
  .start-page-title {
    width: 80vw;
  }
}
@media only screen and (max-width: 500px) {
  .start-page-title {
    width: 100%;
    margin-top: auto;
  }
  .start-page-content-wrapper {
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 1170px) {
  .second-page-wrapper {
    width: 80vw;
    max-width: 80vw;
  }
}
@media only screen and (max-width: 900px) {
  .second-page-wrapper {
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .clock-image-wrapper {
    width: 450px;
    min-width: 450px;
    height: 450px;
    margin-top: -100px;
  }
  .clock {
    width: 250px;
  }
}
@media only screen and (max-width: 1100px) {
  .clock-image-wrapper {
    width: 350px;
    min-width: 350px;
    height: 350px;
    margin-top: -50px;
  }
  .clock {
    width: 250px;
  }
}
@media only screen and (max-width: 800px) {
  .clock-image-wrapper {
    width: 250px;
    min-width: 250px;
    height: 250px;
    margin-top: -20px;
  }
  .clock {
    width: 200px;
  }
}
@media only screen and (max-width: 600px) {
  .clock-wrapper {
    margin-top: 50px;
  }
  .clock-title {
    z-index: 2;
  }
  .clock-image-wrapper {
    position: absolute;
    top: -220px;
    right: 0;
    z-index: 1;
  }
  .clock {
    width: 220px;
  }

}

@media only screen and (max-width: 1100px) {
  .cube-image-wrapper {
    width: 420px;
    min-width: 420px;
    margin-right: calc(100% - 1000px);
  }
  .cube {
    width: 300px;
    margin-left: -50px;
  }
}
@media only screen and (max-width: 1000px) {
  .cube-image-wrapper {
    width: 320px;
    min-width: 320px;
    margin-right: calc(100% - 850px);
  }
  .cube {
    width: 250px;
    margin-left: -50px;
  }
}
@media only screen and (max-width: 900px) {
  .cube-title {
    width: 500px;
  }
  .cube-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    min-width: 320px;
    margin-right: calc(100% - 850px);
  }
  .cube {
    width: 250px;
    margin-left: -50px;
    margin-top: -200px;
  }
}
@media only screen and (max-width: 700px) {
  .cube-title {
    width: 270px;
  }
  .cube-image-wrapper {
    width: 320px;
    min-width: 320px;
  }
  .cube {
    width: 350px;
    margin-left: 0px;
    margin-top: -350px;
  }
}
@media only screen and (max-width: 600px) {
  .cube {
    width: 280px;
    margin-left: 0px;
    margin-top: -300px;
  }
  .cube-image-text-wrapper {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 500px) {
  .cube {
    width: 230px;
    margin-top: -350px;
  }
  .cube-image-text-wrapper {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 400px) {
  .cube {
    width: 170px;
    margin-top: -300px;
  }
}

@media only screen and (max-width: 1200px) {
  .each-link-wrapper {
    padding: 20px 60px;
    height: 380px;
    min-height: 380px;
  }
}
@media only screen and (max-width: 1000px) {
  .each-link-wrapper {
    height: 300px;
    min-height: 300px;
  }
  .each-link-subtitle {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .each-link-wrapper {
    padding: 15px 30px;
    height: 250px;
    min-height: 250px;
  }
  .each-link-background-icon {
    right: 30px;
  }
  .each-link-title-mobile-display-none {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .each-link-wrapper {
    padding: 15px 25px;
    height: 230px;
    min-height: 230px;
  }
  .each-link-background-icon {
    right: 25px;
  }
  .each-link-button {
    width: 300px;
  }
}
@media only screen and (max-width: 450px) {
  .each-link-wrapper {
    padding: 15px 20px;
    height: 230px;
    min-height: 230px;
  }
  .each-link-background-icon {
    right: 20px;
  }
  .each-link-button {
    width: 250px;
    height: 60px;
  }
  .each-link-button-icon {
    height: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .phone-image-wrapper {
    width: 420px;
    min-width: 420px;
    margin-right: calc(100% - 1000px);
  }
  .phone {
    width: 500px;
    margin-left: -100px;
  }
}
@media only screen and (max-width: 1100px) {
  .phone-image-wrapper {
    width: 520px;
    min-width: 520px;
    margin-right: calc(100% - 1000px);
  }
  .phone {
    width: 450px;
    margin-left: -50px;
  }
  .phone-image-text-wrapper {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1000px) {
  .phone-image-wrapper {
    width: 320px;
    min-width: 320px;
    margin-right: calc(100% - 850px);
  }
  .phone {
    width: 380px;
    margin-left: -150px;
  }
  .phone-image-text-wrapper {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 900px) {
  .phone-wrapper {
    margin-top: 250px;
  }
  .phone-title {
    width: 500px;
  }
  .phone-image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    min-width: 320px;
    margin-right: unset;
  }
  .phone {
    width: 450px;
    margin-left: -50px;
    margin-top: -350px;
  }
}
@media only screen and (max-width: 800px) {
  .phone-title {
    width: 500px;
  }
  .phone-image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    min-width: 320px;
    margin-right: unset;
  }
  .phone {
    width: 450px;
    margin-left: -150px;
    margin-top: -370px;
  }
}
@media only screen and (max-width: 700px) {
  .phone-title {
    width: 500px;
  }
  .phone-image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    min-width: 320px;
    margin-right: unset;
  }
  .phone {
    width: 450px;
    margin-left: -150px;
    margin-top: -370px;
  }
}
@media only screen and (max-width: 600px) {
  .phone-title {
    width: 500px;
  }
  .phone-image-wrapper {
    width: 320px;
    min-width: 320px;
    margin-right: unset;
  }
  .phone {
    width: 450px;
    margin-left: -150px;
    margin-top: -370px;
  }
}
@media only screen and (max-width: 500px) {
  .phone-title {
    width: unset;
  }
  .phone-image-wrapper {
    width: 320px;
    min-width: 320px;
    margin-right: unset;
  }
  .phone {
    width: 400px;
    margin-left: -100px;
    margin-top: -370px;
  }
}
@media only screen and (max-width: 400px) {
  .phone-title {
    width: unset;
  }
  .phone-image-wrapper {
    width: 320px;
    min-width: 320px;
    margin-right: unset;
  }
  .phone {
    width: 400px;
    margin-left: -100px;
    margin-top: -370px;
  }
}
