:root {
  --design-file-shape-constant: 1920px;
  --content-max-width: 1400px;
  --content-horizontal-padding: 150px;
}

.each-content-wrapper {
  z-index: 3;
  width: 100vw;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0 calc(max(var(--content-horizontal-padding), (100vw - var(--content-max-width)) / 2));
}
.each-content-title {
  text-transform: capitalize;
  margin-bottom: 5px;
}
.each-content-subtitle {
  margin-top: 10px;
}
.each-content-text {
  margin-bottom: 30px;
}
.each-content-space {
  width: 100%;
  height: 100px;
  min-height: 100px;
}

.each-shape {
  position: absolute;
  animation: eachShapeAnimation 2.5s ease infinite;
  -webkit-animation: eachShapeAnimation 2.5s ease infinite;
}
@keyframes eachShapeAnimation {
  0% {
    opacity: 1;
    transform: rotate3d(1, 1, 1, 0deg);
  }
  50% {
    opacity: 0.7;
    transform: rotate3d(1, 1, 1, 15deg);
  }
  100% {
    opacity: 1;
    transform: rotate3d(1, 1, 1, 0deg);
  }
}
@-webkit-keyframes eachShapeAnimation {
  0% {
    opacity: 1;
    filter: blur(20px);
    -webkit-filter: blur(20px);
  }
  50% {
    opacity: 0.5;
    filter: blur(30px);
    -webkit-filter: blur(30px);
  }
  100% {
    opacity: 1;
    filter: blur(20px);
    -webkit-filter: blur(20px);
  }
}

.start-page-wrapper {
  z-index: 2;
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  padding: 0 calc(max(var(--content-horizontal-padding), (100vw - var(--content-max-width)) / 2));
  overflow: visible;
}
.start-page-background-shape {
  position: absolute;
  z-index: -1;
  width: 501px;
  height: 501px;
  left: -243px;
  bottom: -72px;
  background: rgba(14, 0, 106, 1);
  filter: blur(237px);
  -webkit-filter: blur(237px);
}

.start-page-content-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 8;
  height: 100vh;
  width: 100vw;
  padding: 0 var(--content-horizontal-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.start-page-title {
  width: 55vw;
  height: auto;
}
.start-page-subtitle {
  margin-top: 30px;
}

.start-page-animation-wrapper {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.each-start-page-animation {
  height: auto;
  position: absolute;
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
}

.second-page-wrapper {
  position: absolute;
  width: 70vw;
  max-width: 70vw;
  position: relative;
}

.trailer-wrapper {
  z-index: 2;
  position: relative;
  width: 100vw;
  height: fit-content;
  min-height: fit-content;
  overflow: visible;
  padding: 0 calc(max(var(--content-horizontal-padding), (100vw - var(--content-max-width)) / 2));
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trailer-background {
  z-index: -1;
  position: absolute;
  left: 0;
  width: calc(100vw - 2 * max(var(--content-horizontal-padding), (100vw - var(--content-max-width)) / 2));
  margin: 0 var(--content-horizontal-padding);
  height: 100%;
  filter: blur(20px);
  -webkit-filter: blur(20px);
  background: radial-gradient(rgba(134, 54, 237, 1), rgba(134, 54, 237, 0.5)), radial-gradient(rgba(25, 1, 102, 1), rgba(24, 1, 102, 0.5));
  animation: trailerBackgroundAnimation 2s ease infinite;
  -webkit-animation: trailerBackgroundAnimation 2s ease infinite;
}
@keyframes trailerBackgroundAnimation {
  0% {
    opacity: 1;
    filter: blur(20px);
    -webkit-filter: blur(20px);
  }
  50% {
    opacity: 0.5;
    filter: blur(30px);
    -webkit-filter: blur(30px);
  }
  100% {
    opacity: 1;
    filter: blur(20px);
    -webkit-filter: blur(20px);
  }
}
@-webkit-keyframes trailerBackgroundAnimation {
  0% {
    opacity: 1;
    filter: blur(20px);
    -webkit-filter: blur(20px);
  }
  50% {
    opacity: 0.5;
    filter: blur(30px);
    -webkit-filter: blur(30px);
  }
  100% {
    opacity: 1;
    filter: blur(20px);
    -webkit-filter: blur(20px);
  }
}
.trailer {
  width: calc(100vw - 2 * var(--content-horizontal-padding));
  margin: 0 var(--content-horizontal-padding);
  height: fit-content;
  min-height: fit-content;
}
.trailer-play-icon-wrapper {
  position: absolute;
  z-index: 3;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(117.5deg, rgba(25, 1, 102, 0.343) 0.16%, rgba(24, 1, 102, 0) 100%);
  filter: drop-shadow(24px 25px 78px rgba(0, 6, 16, 0.5));
  -webkit-filter: drop-shadow(24px 25px 78px rgba(0, 6, 16, 0.5));
  backdrop-filter: blur(25px);
  cursor: pointer;
}
.trailer-play-icon {
  width: 30px;
  height: auto;
  margin-right: -10px;
}

.clock-image-outer-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: fit-content;
  min-height: fit-content;
}
.clock-image-wrapper {
  width: 550px;
  min-width: 550px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -120px;
  z-index: 2;
}
.clock {
  width: 300px;
  height: auto;
  z-index: 4;
}
.clock-image-text-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: fit-content;
  min-height: fit-content;
  margin-top: 30px;
}
.clock-shape-1 {
  bottom: 350px;
  left: 50px;
  width: 27px;
  height: auto;
  animation: clockShape1Animation 8s linear infinite;
  -webkit-animation: clockShape1Animation 8s linear infinite;
}
@keyframes clockShape1Animation {
  0% {
    transform: rotate(0deg) translateX(-20px) rotate(0deg) translateY(40px);
    opacity: 0.9;
  }
  50% {
    transform: rotate(180deg) translateX(-20px) rotate(-180deg) translateY(40px);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) translateX(-20px) rotate(-360deg) translateY(40px);
    opacity: 0.9;
  }
}
@-webkit-keyframes clockShape1Animation {
  0% {
    transform: rotate(0deg) translateX(-20px) rotate(0deg) translateY(40px);
    opacity: 0.9;
  }
  50% {
    transform: rotate(180deg) translateX(-20px) rotate(-180deg) translateY(40px);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) translateX(-20px) rotate(-360deg) translateY(40px);
    opacity: 0.9;
  }
}
.clock-shape-2 {
  bottom: 100px;
  left: 100px;
  width: 27px;
  height: auto;
  animation: clockShape2Animation 10s linear infinite;
  -webkit-animation: clockShape2Animation 10s linear infinite;
}
@keyframes clockShape2Animation {
  0% {
    transform: rotate(0deg) translateX(-20px) rotate(0deg) translateY(-30px);
    opacity: 0.9;
  }
  50% {
    transform: rotate(180deg) translateX(-20px) rotate(-180deg) translateY(-30px);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) translateX(-20px) rotate(-360deg) translateY(-30px);
    opacity: 0.9;
  }
}
@-webkit-keyframes clockShape2Animation {
  0% {
    transform: rotate(0deg) translateX(-20px) rotate(0deg) translateY(-30px);
    opacity: 0.9;
  }
  50% {
    transform: rotate(180deg) translateX(-20px) rotate(-180deg) translateY(-30px);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) translateX(-20px) rotate(-360deg) translateY(-30px);
    opacity: 0.9;
  }
}
.clock-shape-3 {
  bottom: 350px;
  left: 400px;
  width: 48px;
  height: auto;
  animation: clockShape3Animation 8s linear infinite;
  -webkit-animation: clockShape3Animation 8s linear infinite;
}
@keyframes clockShape3Animation {
  0% {
    transform: rotate(0deg) translateX(-10px) rotate(0deg) translateY(-10px) rotate3d(1, 1, 1, 0deg);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) translateX(-10px) rotate(-180deg) translateY(-10px) rotate3d(1, 1, 1, 15deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) translateX(-10px) rotate(-360deg) translateY(-10px) rotate3d(1, 1, 1, 0deg);
    opacity: 0.8;
  }
}
@-webkit-keyframes clockShape3Animation {
  0% {
    transform: rotate(0deg) translateX(-10px) rotate(0deg) translateY(-10px) rotate3d(1, 1, 1, 0deg);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) translateX(-10px) rotate(-180deg) translateY(-10px) rotate3d(1, 1, 1, 15deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) translateX(-10px) rotate(-360deg) translateY(-10px) rotate3d(1, 1, 1, 0deg);
    opacity: 0.8;
  }
}

.cube-title {
  margin-left: auto;
  text-align: right;
  z-index: 2;
}
.cube-image-outer-wrapper {
  position: relative;
  display: flex;
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  position: relative;
}
.cube-image-text-wrapper {
  flex: 1;
  height: fit-content;
  min-height: fit-content;
  z-index: 2;
  margin-top: 100px;
}
.small-cube-image-wrapper {
  width: 180px;
  min-width: 180px;
  position: absolute;
  left: 0;
  top: 0;
}
.small-cube {
  position: absolute;
  margin-left: 100px;
  margin-top: -90px;
  animation: smallCubeAnimation 8s linear infinite;
  -webkit-animation: smallCubeAnimation 8s linear infinite;
}
@keyframes smallCubeAnimation {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
    opacity: 0.7;
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: rotate3d(1, 1, 1, 10deg);
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate3d(1, 1, 1, 0deg);
    opacity: 0.7;
  }
}
@-webkit-keyframes smallCubeAnimation {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
    opacity: 0.7;
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: rotate3d(1, 1, 1, 10deg);
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate3d(1, 1, 1, 0deg);
    opacity: 0.7;
  }
}
.cube-image-wrapper {
  width: 520px;
  min-width: 520px;
  margin-right: calc(100% - 1200px);
}
.cube {
  position: absolute;
  margin-left: -100px;
  margin-top: -50px;
}
.cube-shape-1 {
  bottom: -50px;
  right: 190px;
  width: 72px;
  height: auto;
  animation: cubeShape1Animation 18s linear infinite;
  -webkit-animation: cubeShape1Animation 18s linear infinite;
}
@keyframes cubeShape1Animation {
  0% {
    transform: rotate(0deg) translateX(-10px) rotate(0deg) translateY(-20px) rotate3d(1, 1, 1, 0deg);
  }
  50% {
    transform: rotate(180deg) translateX(-10px) rotate(180deg) translateY(-20px) rotate3d(1, 1, 1, 15deg);
  }
  100% {
    transform: rotate(360deg) translateX(-10px) rotate(360deg) translateY(-20px) rotate3d(1, 1, 1, 0deg);
  }
}
@-webkit-keyframes cubeShape1Animation {
  0% {
    transform: rotate(0deg) translateX(-10px) rotate(0deg) translateY(-20px) rotate3d(1, 1, 1, 0deg);
  }
  50% {
    transform: rotate(180deg) translateX(-10px) rotate(180deg) translateY(-20px) rotate3d(1, 1, 1, 15deg);
  }
  100% {
    transform: rotate(360deg) translateX(-10px) rotate(360deg) translateY(-20px) rotate3d(1, 1, 1, 0deg);
  }
}
.cube-shape-2 {
  bottom: 100px;
  right: 170px;
  width: 28px;
  height: auto;
  animation: cubeShape2Animation 4s linear infinite;
  -webkit-animation: cubeShape2Animation 4s linear infinite;
}
@keyframes cubeShape2Animation {
  0% {
    transform: rotate(0deg) translateX(-10px) rotate(0deg) translateY(-10px) rotate3d(1, 1, 1, 0deg);
  }
  50% {
    transform: rotate(-180deg) translateX(-10px) rotate(180deg) translateY(-10px) rotate3d(1, 1, 1, 15deg);
  }
  100% {
    transform: rotate(-360deg) translateX(-10px) rotate(360deg) translateY(-10px) rotate3d(1, 1, 1, 0deg);
  }
}
@-webkit-keyframes cubeShape2Animation {
  0% {
    transform: rotate(0deg) translateX(-10px) rotate(0deg) translateY(-10px) rotate3d(1, 1, 1, 0deg);
  }
  50% {
    transform: rotate(-180deg) translateX(-10px) rotate(180deg) translateY(-10px) rotate3d(1, 1, 1, 15deg);
  }
  100% {
    transform: rotate(-360deg) translateX(-10px) rotate(360deg) translateY(-10px) rotate3d(1, 1, 1, 0deg);
  }
}

.each-link-wrapper {
  position: relative;
  width: calc(100vw - 2 * var(--content-horizontal-padding));
  margin-left: var(--content-horizontal-padding);
  height: 350px;
  min-height: 350px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(267.41deg, rgba(255, 255, 255, 0.074) 0%, rgba(255, 255, 255, 0) 52.08%, rgba(71, 71, 71, 0) 100%), rgba(229, 229, 229, 0.03);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 30px 60px;
}
.each-link-title {
  z-index: 2;
}
.each-link-subtitle {
  z-index: 2;
  max-width: 700px;
  margin-top: 15px;
}
.each-link-background-icon {
  position: absolute;
  height: 110%;
  min-height: 110%;
  width: auto;
  right: 60px;
  top: -25px;
}
.each-link-button {
  position: absolute;
  width: 360px;
  height: 80px;
  right: 0;
  bottom: 0;
  background-color: rgba(15, 98, 254, 1);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-decoration: none;
}
.each-link-button:hover {
  background-color: rgba(3, 83, 233, 1);
}
.each-link-button:active {
  background-color: rgba(0, 45, 156, 1);
}
.each-link-button-icon {
  height: 30px;
  width: auto;
}

.phone-image-outer-wrapper {
  display: flex;
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  position: relative;
}
.phone-image-text-wrapper {
  flex: 1;
  height: fit-content;
  min-height: fit-content;
  z-index: 2;
  margin-top: 100px;
}
.phone-image-wrapper {
  width: 520px;
  min-width: 520px;
  margin-right: calc(100% - 1200px);
}
.phone {
  position: absolute;
  margin-left: -100px;
  margin-top: -50px;
  z-index: 1;
}
.phone-light-wrapper {
  z-index: 4;
  width: 20px;
  height: 20px;
  overflow: visible;
  margin-left: 232px;
  margin-top: 43px;
}
.phone-light-1 {
  z-index: 4;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: radial-gradient(33.78% 33.78% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  animation: phoneLightAnimation 2s linear infinite;
  -webkit-animation: phoneLightAnimation 2s linear infinite;
}
.phone-light-2 {
  z-index: 4;
  position: absolute;
  margin-top: -18px;
  margin-left: -4px;
  width: 30px;
  height: 50px;
  border-radius: 100%;
  background: radial-gradient(90.28% 70.57% at 49.96% 84.39%, #FF004D 0%, rgba(112, 0, 0, 0) 100%);
  filter: blur(6px);
  transform: rotate(33.08deg);
  animation: phoneLightAnimation 2s linear infinite;
  -webkit-animation: phoneLightAnimation 2s linear infinite;
}
.phone-light-3 {
  z-index: 4;
  position: absolute;
  margin-top: -48px;
  margin-left: -2px;
  width: 35px;
  height: 80px;
  border-radius: 100%;
  background: radial-gradient(60.25% 72.51% at 53.62% 71.33%, #FF004D 0%, rgba(112, 0, 0, 0) 100%);
  filter: blur(27px);
  transform: rotate(33.08deg);
  animation: phoneLightAnimation 2s linear infinite;
  -webkit-animation: phoneLightAnimation 2s linear infinite;
}
@keyframes phoneLightAnimation {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes phoneLightAnimation {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.phone-title {
  z-index: 3;
}
.phone-shape-1 {
  bottom: -180px;
  right: 300px;
  width: 72px;
  height: auto;
  animation: phoneShape1Animation 3s linear infinite;
  -webkit-animation: phoneShape1Animation 3s linear infinite;
  z-index: 5;
}
@keyframes phoneShape1Animation {
  0% {
    transform: rotate(0deg) translateX(-10px) rotate(0deg) translateY(-20px) rotate3d(1, 1, 1, 0deg);
    opacity: 0.7;
  }
  50% {
    transform: rotate(180deg) translateX(-10px) rotate(-180deg) translateY(-20px) rotate3d(1, 1, 1, 15deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) translateX(-10px) rotate(-360deg) translateY(-20px) rotate3d(1, 1, 1, 0deg);
    opacity: 0.7;
  }
}
@-webkit-keyframes phoneShape1Animation {
  0% {
    transform: rotate(0deg) translateX(-10px) rotate(0deg) translateY(-20px) rotate3d(1, 1, 1, 0deg);
    opacity: 0.7;
  }
  50% {
    transform: rotate(180deg) translateX(-10px) rotate(-180deg) translateY(-20px) rotate3d(1, 1, 1, 15deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) translateX(-10px) rotate(-360deg) translateY(-20px) rotate3d(1, 1, 1, 0deg);
    opacity: 0.7;
  }
}
.phone-shape-2 {
  bottom: 150px;
  right: 0px;
  width: 28px;
  height: auto;
  animation: phoneShape2Animation 4.5s linear infinite;
  -webkit-animation: phoneShape2Animation 4.5s linear infinite;
  z-index: 5;
}
@keyframes phoneShape2Animation {
  0% {
    transform: rotate(0deg) translateX(-10px) rotate(0deg) translateY(-10px) rotate3d(1, 1, 1, 0deg);
  }
  50% {
    transform: rotate(-180deg) translateX(-10px) rotate(180deg) translateY(-10px) rotate3d(1, 1, 1, 15deg);
  }
  100% {
    transform: rotate(-360deg) translateX(-10px) rotate(360deg) translateY(-10px) rotate3d(1, 1, 1, 0deg);
  }
}
@-webkit-keyframes phoneShape2Animation {
  0% {
    transform: rotate(0deg) translateX(-10px) rotate(0deg) translateY(-10px) rotate3d(1, 1, 1, 0deg);
  }
  50% {
    transform: rotate(-180deg) translateX(-10px) rotate(180deg) translateY(-10px) rotate3d(1, 1, 1, 15deg);
  }
  100% {
    transform: rotate(-360deg) translateX(-10px) rotate(360deg) translateY(-10px) rotate3d(1, 1, 1, 0deg);
  }
}

@media only screen and (max-width: 800px) {
  .each-content-space {
    height: 90px;
    min-height: 90px;
  }
}
@media only screen and (max-width: 500px) {
  .each-content-text {
    margin-bottom: 20px;
  }
  .each-content-space {
    height: 80px;
    min-height: 80px;
  }
  .extra-content-space-for-desktop {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  :root {
    --content-horizontal-padding: 100px;
  }
}
@media only screen and (max-width: 800px) {
  :root {
    --content-horizontal-padding: 60px;
  }
}
@media only screen and (max-width: 700px) {
  :root {
    --content-horizontal-padding: 40px;
  }
}
@media only screen and (max-width: 500px) {
  :root {
    --content-horizontal-padding: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .start-page-title {
    width: 70vw;
  }
}
@media only screen and (max-width: 700px) {
  .start-page-title {
    width: 80vw;
  }
}
@media only screen and (max-width: 700px) {
  .start-page-title {
    width: 80vw;
  }
}
@media only screen and (max-width: 500px) {
  .start-page-title {
    width: 100%;
    margin-top: auto;
  }
  .start-page-content-wrapper {
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 1170px) {
  .second-page-wrapper {
    width: 80vw;
    max-width: 80vw;
  }
}
@media only screen and (max-width: 900px) {
  .second-page-wrapper {
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .trailer-background {
    filter: blur(10px);
    -webkit-filter: blur(10px);
  }
  @keyframes trailerBackgroundAnimation {
    0% {
      opacity: 1;
      filter: blur(10px);
      -webkit-filter: blur(10px);
    }
    50% {
      opacity: 0.5;
      filter: blur(15px);
      -webkit-filter: blur(15px);
    }
    100% {
      opacity: 1;
      filter: blur(10px);
      -webkit-filter: blur(10px);
    }
  }
  @-webkit-keyframes trailerBackgroundAnimation {
    0% {
      opacity: 1;
      filter: blur(10px);
      -webkit-filter: blur(10px);
    }
    50% {
      opacity: 0.5;
      filter: blur(15px);
      -webkit-filter: blur(15px);
    }
    100% {
      opacity: 1;
      filter: blur(10px);
      -webkit-filter: blur(10px);
    }
  }
}

@media only screen and (max-width: 1200px) {
  .clock-image-wrapper {
    width: 450px;
    min-width: 450px;
    height: 450px;
    margin-top: -100px;
  }
  .clock {
    width: 250px;
  }
  .clock-shape-2 {
    bottom: 50px;
    left: 50px;
  }
  .clock-shape-3 {
    bottom: 250px;
    left: 350px;
  }
}
@media only screen and (max-width: 1100px) {
  .clock-image-wrapper {
    width: 350px;
    min-width: 350px;
    height: 350px;
    margin-top: -50px;
  }
  .clock {
    width: 250px;
  }
  .clock-shape-1 {
    bottom: 310px;
    left: 20px;
  }
  .clock-shape-2 {
    bottom: 20px;
    left: 20px;
  }
  .clock-shape-3 {
    bottom: 240px;
    left: 290px;
  }
}
@media only screen and (max-width: 900px) {
  .clock-shape-1 {
    bottom: 290px;
    left: 20px;
  }
  .clock-shape-2 {
    bottom: 20px;
    left: 20px;
  }
  .clock-shape-3 {
    bottom: 250px;
    left: 275px;
  }
}
@media only screen and (max-width: 800px) {
  .clock-image-wrapper {
    width: 250px;
    min-width: 250px;
    height: 250px;
    margin-top: -20px;
  }
  .clock {
    width: 200px;
  }
  .clock-shape-1 {
    bottom: 290px;
    left: -40px;
  }
  .clock-shape-3 {
    bottom: 300px;
    left: 520px;
  }
}
@media only screen and (max-width: 700px) {
  .clock-shape-1 {
    bottom: 270px;
    left: -20px;
  }
  .clock-shape-2 {
    bottom: 20px;
    left: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .clock-wrapper {
    margin-top: 50px;
  }
  .clock-title {
    z-index: 2;
  }
  .clock-image-wrapper {
    position: absolute;
    top: -220px;
    right: 0;
    z-index: 1;
  }
  .clock {
    width: 220px;
  }
  .clock-shape-1 {
    bottom: 250px;
    left: -30px;
  }
  .clock-shape-2 {
    bottom: -10px;
    left: -10px;
  }
  .clock-shape-3 {
    bottom: 250px;
    left: -100px;
  }
}
@media only screen and (max-width: 400px) {
  .clock-shape-1 {
    bottom: 270px;
    left: 170px;
  }
  .clock-shape-2 {
    bottom: -10px;
    left: -10px;
  }
  .clock-shape-3 {
    bottom: 200px;
    left: -50px;
  }
}

@media only screen and (max-width: 1200px) {
  .small-cube {
    margin-left: 50px;
    margin-top: -90px;
  }
  .cube-shape-1 {
    bottom: -10px;
    right: 50px;
  }
  .cube-shape-2 {
    bottom: 170px;
    right: 450px;
  }
}
@media only screen and (max-width: 1100px) {
  .cube-image-wrapper {
    width: 420px;
    min-width: 420px;
    margin-right: calc(100% - 1000px);
  }
  .cube {
    width: 300px;
    margin-left: -50px;
  }
  .small-cube {
    margin-left: 100px;
    margin-top: -90px;
  }
  .cube-shape-1 {
    bottom: -50px;
    right: 50px;
  }
  .cube-shape-2 {
    bottom: 100px;
    right: 250px;
  }
}
@media only screen and (max-width: 1000px) {
  .cube-image-wrapper {
    width: 320px;
    min-width: 320px;
    margin-right: calc(100% - 850px);
  }
  .cube {
    width: 250px;
    margin-left: -50px;
  }
}
@media only screen and (max-width: 900px) {
  .cube-title {
    width: 500px;
  }
  .cube-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    min-width: 320px;
    margin-right: calc(100% - 850px);
  }
  .cube {
    width: 250px;
    margin-left: -50px;
    margin-top: -200px;
  }
  .small-cube {
    margin-left: 350px;
    margin-top: -50px;
  }
  .cube-shape-1 {
    bottom: -50px;
    right: 50px;
  }
  .cube-shape-2 {
    bottom: 190px;
    right: 50px;
  }
}
@media only screen and (max-width: 700px) {
  .cube-title {
    width: 270px;
  }
  .cube-image-wrapper {
    width: 320px;
    min-width: 320px;
  }
  .cube {
    width: 350px;
    margin-left: 0px;
    margin-top: -350px;
  }
}
@media only screen and (max-width: 600px) {
  .cube {
    width: 280px;
    margin-left: 0px;
    margin-top: -300px;
  }
  .cube-image-text-wrapper {
    margin-top: 50px;
  }
  .small-cube {
    margin-left: calc(100vw - 2 * var(--content-horizontal-padding) - 150px);
    margin-top: -50px;
  }
  .cube-shape-1 {
    bottom: -50px;
    right: 50px;
  }
  .cube-shape-2 {
    bottom: 450px;
    right: 150px;
  }
}
@media only screen and (max-width: 500px) {
  .cube {
    width: 230px;
    margin-top: -350px;
  }
  .cube-image-text-wrapper {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 450px) {
  .cube {
    width: 230px;
    margin-top: -350px;
  }
  .cube-image-text-wrapper {
    margin-top: 30px;
  }
  .small-cube {
    margin-left: calc(100vw - 2 * var(--content-horizontal-padding) - 90px);
    margin-top: -50px;
  }
  .cube-shape-1 {
    bottom: 215px;
    right: 270px;
  }
  .cube-shape-2 {
    bottom: 550px;
    right: 50px;
  }
}
@media only screen and (max-width: 400px) {
  .cube {
    width: 170px;
    margin-top: -300px;
  }
  .cube-shape-1 {
    bottom: 240px;
    right: 250px;
  }
}

@media only screen and (max-width: 1200px) {
  .each-link-wrapper {
    padding: 20px 60px;
    height: 380px;
    min-height: 380px;
  }
}
@media only screen and (max-width: 1000px) {
  .each-link-wrapper {
    height: 300px;
    min-height: 300px;
  }
  .each-link-subtitle {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .each-link-wrapper {
    padding: 15px 30px;
    height: 250px;
    min-height: 250px;
  }
  .each-link-background-icon {
    right: 30px;
  }
  .each-link-title-mobile-display-none {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .each-link-wrapper {
    padding: 15px 25px;
    height: 230px;
    min-height: 230px;
  }
  .each-link-background-icon {
    right: 25px;
  }
  .each-link-button {
    width: 300px;
  }
}
@media only screen and (max-width: 450px) {
  .each-link-wrapper {
    padding: 15px 20px;
    height: 230px;
    min-height: 230px;
  }
  .each-link-background-icon {
    right: 20px;
  }
  .each-link-button {
    width: 250px;
    height: 60px;
  }
  .each-link-button-icon {
    height: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .phone-image-wrapper {
    width: 420px;
    min-width: 420px;
    margin-right: calc(100% - 1000px);
  }
  .phone {
    width: 500px;
    margin-left: -100px;
  }
  .phone-light-wrapper {
    margin-left: 215px;
    margin-top: 35px;
  }
}
@media only screen and (max-width: 1100px) {
  .phone-image-wrapper {
    width: 520px;
    min-width: 520px;
    margin-right: calc(100% - 1000px);
  }
  .phone {
    width: 450px;
    margin-left: -50px;
  }
  .phone-image-text-wrapper {
    margin-top: 50px;
  }
  .phone-light-wrapper {
    margin-left: 232px;
    margin-top: 24px;
  }
}
@media only screen and (max-width: 1000px) {
  .phone-image-wrapper {
    width: 320px;
    min-width: 320px;
    margin-right: calc(100% - 850px);
  }
  .phone {
    width: 380px;
    margin-left: -150px;
  }
  .phone-image-text-wrapper {
    margin-top: 10px;
  }
  .phone-light-wrapper {
    margin-left: 86px;
    margin-top: 13px;
  }
}
@media only screen and (max-width: 900px) {
  .phone-wrapper {
    margin-top: 250px;
  }
  .phone-title {
    width: 500px;
  }
  .phone-image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    min-width: 320px;
    margin-right: unset;
  }
  .phone {
    width: 450px;
    margin-left: -50px;
    margin-top: -350px;
  }
  .phone-light-wrapper {
    margin-left: calc(100% - 89px);
    margin-top: -272px;
  }
  .phone-shape-1 {
    bottom: 250px;
    right: 100%;
    left: -300px;
  }
  .phone-shape-2 {
    bottom: -150px;
    right: 0px;
  }
}
@media only screen and (max-width: 800px) {
  .phone-title {
    width: 500px;
  }
  .phone-image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    min-width: 320px;
    margin-right: unset;
  }
  .phone {
    width: 450px;
    margin-left: -150px;
    margin-top: -370px;
  }
  .phone-light-wrapper {
    margin-left: calc(100% - 189px);
    margin-top: -292px;
  }
}
@media only screen and (max-width: 700px) {
  .phone-title {
    width: 500px;
  }
  .phone-image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    min-width: 320px;
    margin-right: unset;
  }
  .phone {
    width: 450px;
    margin-left: -150px;
    margin-top: -370px;
  }
  .phone-shape-1 {
    bottom: 250px;
    left: -200px;
  }
  .phone-shape-2 {
    bottom: -130px;
    right: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .phone-title {
    width: 500px;
  }
  .phone-image-wrapper {
    width: 320px;
    min-width: 320px;
    margin-right: unset;
  }
  .phone {
    width: 450px;
    margin-left: -150px;
    margin-top: -370px;
  }
  .phone-shape-1 {
    bottom: 130px;
    left: -95px;
  }
}
@media only screen and (max-width: 500px) {
  .phone-title {
    width: unset;
  }
  .phone-image-wrapper {
    width: 320px;
    min-width: 320px;
    margin-right: unset;
  }
  .phone {
    width: 400px;
    margin-left: -100px;
    margin-top: -370px;
  }
  .phone-light-wrapper {
    margin-left: calc(100% - 172px);
    margin-top: -302px;
  }
  .phone-light-3 {
    margin-top: -47px;
    margin-left: -2px;
  }
  .phone-shape-1 {
    bottom: 250px;
    left: -75px;
    z-index: -1;
  }
  .phone-shape-2 {
    bottom: -130px;
    right: 50px;
  }
}
@media only screen and (max-width: 400px) {
  .phone-title {
    width: unset;
  }
  .phone-image-wrapper {
    width: 320px;
    min-width: 320px;
    margin-right: unset;
  }
  .phone {
    width: 400px;
    margin-left: -100px;
    margin-top: -370px;
  }
  .phone-shape-1 {
    bottom: 290px;
    left: -15px;
  }
  .phone-shape-2 {
    bottom: -180px;
    right: 50px;
  }
}
